/***************************************
display plugin
***************************************/
.ppdisplay {
	background-color: #000;
	position: relative !important;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.ppdisplay .inactive, .ppstart.inactive, .ppbuffering.inactive {
	display: none;
}

.ppstart {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -50px 0 0 -50px;
	background: #e00049;
	border-radius: 50%;
	color: #fff;
	text-align: center;
	font-size: 60px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 15px 0 0 5px;
	overflow: hidden;
	cursor: pointer;
	line-height: 70px;
}

.ppstart:before {
	font-family: "dripicons-v2" !important;
}

.projekktor:hover .ppstart {
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}

.ppbuffering {
	position: absolute;
	left: 50%;
	bottom: 50%;
	margin-left: -45px;
	margin-bottom: -38px;
	display: block;
	z-index: 9010;
	padding: 0px;
	background: url("../img/loading.gif") no-repeat center center #000;
	height: 84px;
	width: 84px;
	border-radius: 15px;
}

/***************************************
controlbar plugin
***************************************/
.ppcontrols {
	width: 100%;
	height: 42px;
	line-height: 42px;
	display: block;
	position: absolute;
	bottom: 0;
	right: 0;
	background: rgba(57,85,151,.6);
	padding: 5px 0;
	margin: 0;
	border-radius: 0 0 5px 5px;
}
.ppcontrols.active {
	filter: alpha(opacity=100);
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-transition: opacity 0.1s linear;
	transition: opacity 0.1s linear;
}
.ppcontrols.inactive {
	filter: alpha(opacity=0);
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-transition: opacity 0.5s linear;
	transition: opacity 0.5s linear;
}

.projekktor.notransitions .ppcontrols.active {
	display: block;
}
.projekktor.notransitions .ppcontrols.inactive {
	display: none;
}

.ie .ppcontrols.inactive {
	display: none;
}

.ppcontrols ul {
	list-style-type: none;
}
.ppcontrols ul.left {
	position: relative;
	top: 0;
	left: 0;
	padding: 0;
	margin: 0;
}
.ppcontrols ul.left li {
	float: left;
	position: relative;
}
.ppcontrols ul.right {
	position: relative;
	top: 0;
	right: 0;
	padding: 0;
	margin: 0;
}
.ppcontrols ul.right li {
	float: right;
	position: relative;
}
.ppcontrols ul.bottom {
	position: relative;
	top: -6px;
	left: 0;
	padding: 0;
	margin: 0;
}

.ppplay, .pppause, .ppfsenter, .ppfsexit, .ppvmax, .ppmute, .pptimeleft, .pploquality, .pphiquality, .ppnext, .ppprev, .pploop, .pploop .on, .pploop .off, .pptitle {
	height: 42px;
	line-height: inherit;
	text-align: center;
	cursor: pointer;
}
.ppplay:before, .pppause:before, .ppfsenter:before, .ppfsexit:before, .ppvmax:before, .ppmute:before, .pptimeleft:before, .pploquality:before, .pphiquality:before, .ppnext:before, .ppprev:before, .pploop:before, .pploop .on:before, .pploop .off:before, .pptitle:before {
	font-family: "dripicons-v2" !important;
	line-height: inherit;
}

.pptitle {
	color: white;
	font-size: 18px;
	line-height: 40px;
	font-family: 'sofia_problack', sans-serif;
}

@media only screen and (max-width: 767px) {
	.pptitle {
		display: none;
	}
}

/* PLAY / PAUSE - left */
.ppplay, .pppause {
	width: 40px;
	cursor: pointer;
	-webkit-transition: all 250ms;
	transition: all 250ms;
}
.ppplay:before, .pppause:before {
	font-family: "dripicons-v2" !important;
	color: white;
	font-size: 1.35em;
}
.ppplay:hover, .ppplay:active, .pppause:hover, .pppause:active {
	color: #e00049;
}
.ppplay.active, .pppause.active {
	display: block;
}
.ppplay.inactive, .pppause.inactive {
	display: none;
}

/* Enter / Exit Fullscreen - right */
.projekktor.audio .ppfsenter, .projekktor.audio .ppfsexit {
	display: none;
}

.ppfsenter, .ppfsexit {
	padding-right: 10px;
}
.ppfsenter.active, .ppfsexit.active {
	display: block;
}
.ppfsenter.inactive, .ppfsexit.inactive {
	display: none;
}
.ppfsenter:before, .ppfsexit:before {
	font-family: "dripicons-v2" !important;
	color: white;
}

/* Unmute / Max volume - right */
.ppvmax {
	width: 30px;
	background: url("maccaco.png") no-repeat -842px top transparent;
}

.ppvmax:hover {
	background: url("maccaco.png") no-repeat -842px -35px transparent;
}

.ppvmax:active {
	background: url("maccaco.png") no-repeat -842px -36px transparent;
}

/* Mute / Min volume - right */
.ppmute {
	width: 29px;
	background: url("maccaco.png") no-repeat -750px top transparent;
}

.ppmute:hover {
	background: url("maccaco.png") no-repeat -750px -35px transparent;
}

.ppmute:active {
	background: url("maccaco.png") no-repeat -750px -36px transparent;
}

/* volume slider - right */
.ppvslider-container {
	height: 42px;
	position: relative;
	padding-right: 13px;
	margin-right: 10px;
	*zoom: 1;
}
.ppvslider-container:before, .ppvslider-container:after {
	content: " ";
	display: table;
}
.ppvslider-container:after {
	clear: both;
}

.ppvslider-icon {
	line-height: inherit;
	position: relative;
	display: inline-block;
	float: left;
	color: white;
	margin-right: 10px;
}

.ppvslider-icon:before {
	font-family: "dripicons-v2" !important;
	font-style: normal;
}

.ppvslider {
	width: 40px;
	height: 6px;
	display: inline-block;
	float: left;
	margin: 18px 0 0 0;
	background: #575757;
	border-radius: 0 6px 6px 0;
}

.ppvmarker {
	position: relative;
	right: 0;
	left: 0;
	height: 6px;
	width: 100%;
	background: #e00049;
	border-radius: 6px 0 0 6px;
}

.ppvknob {
	cursor: pointer;
	z-index: 201;
	position: relative;
	background: white;
	border-radius: 6px;
	top: -9px;
	left: 0;
	width: 12px;
	height: 12px;
	padding: 0;
}

/* time / time left */
.pptimeleft {
	color: #fff;
	text-align: center;
	overflow: hidden;
	padding-right: 10px;
	margin-right: 10px;
	line-height: 38px;
	font-size: 0.9em;
	font-family: 'sofia_prolight';
}
.pptimeleft .duration {
	color: #c2e4ef;
	padding-left: 7px;
}
.pptimeleft .duration:before {
	content: '/ '
}
/* lo / hi quality toggle */
.pploquality, .pphiquality {
	background: url("maccaco.png") no-repeat -60px -72px transparent;
	width: 30px;
	cursor: pointer;
}

.pphiquality:hover {
	background: url("maccaco.png") no-repeat -32px -106px transparent;
}

.pploquality {
	background: url("maccaco.png") no-repeat -32px -72px transparent;
}

.pploquality:hover {
	background: url("maccaco.png") no-repeat -32px -106px transparent;
}

.pphiquality:active, .pploquality:active {
	background: url("maccaco.png") no-repeat -32px -105px transparent;
}

/* previous / next item */
.ppnext, .ppprev {
	display: block;
	background: url("maccaco.png") no-repeat -59px top transparent;
	width: 30px;
	cursor: pointer;
}

.ppnext {
}

.ppnext:hover {
	background: url("maccaco.png") no-repeat -59px -35px transparent;
}

.ppnext:active {
	background: url("maccaco.png") no-repeat -59px -36px transparent;
}

.ppprev {
	background: url("maccaco.png") no-repeat -32px top transparent;
}

.ppprev:hover {
	background: url("maccaco.png") no-repeat -32px -35px transparent;
}

.ppprev:active {
	background: url("maccaco.png") no-repeat -32px -36px transparent;
}

.pploop, .pploop .on, .pploop .off {
	display: block;
	line-height: 30px;
	color: #fff;
	width: 30px;
	cursor: pointer;
}

.pploop.off {
	color: #ccc;
}

/* Scrubber, Playhead and fluff */
.ppscrubber {
	position: absolute;
	height: 6px;
	width: 100%;
	left: 0;
	margin: 0;
	padding: 0;
}

.ppscrubberdrag {
	cursor: pointer;
	z-index: 302;
	position: absolute;
	background-color: transparent;
	top: 0;
	left: 0;
	height: 6px;
	width: 100%;
}

.ppplayhead, .pploaded {
	position: relative;
	display: block;
	left: 0;
	bottom: 0;
	height: 6px;
	width: 1px;
	background-color: #e00049;
	cursor: pointer;
	z-index: 301;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-transition: width 0.1s linear;
	transition: width 0.1s linear;
}

.ppcuepoint {
	position: absolute;
	height: 6px;
	width: 6px;
	background-color: yellow;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	z-index: 302;
}

.ppcuepoint:hover {
	background-color: red;
	cursor: pointer;
}

.pploaded {
	position: relative;
	z-index: 10;
	background: black;
	opacity: 0.45;
	filter: alpha(opacity=45);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
}

.ppplayhead {
	margin-top: -6px;
}

.ppscrubbertip {
	padding: 3px;
	position: absolute;
	top: -30px;
	left: 25px;
	font-size: 11px;
	line-height: 15px;
	color: #fdfdfd;
	background: #2e2d2d;
	z-index: 10;
	display: none;
}

.ppscrubbertip:after {
	top: 100%;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.ppscrubbertip:after {
	border-color: rgba(2, 28, 79, 0);
	border-top-color: #333;
	border-width: 5px;
	left: 50%;
	margin-left: -5px;
}

/* Context Menu */
.ppcontextmenu.active {
	display: block;
}

.ppcontextmenu.inactive {
	display: none;
}

.ppcontextmenu {
	background: none repeat scroll 0 0 #FFFFFF;
	list-style: none outside none;
	border-radius: 2px 2px 2px 2px;
	margin: 4px 0;
	outline: medium none;
	overflow: auto;
	padding: 6px 0;
	position: absolute;
	z-index: 2147483647;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
}

.ppcontextmenu li {
	color: #333;
	cursor: pointer;
	display: block;
	margin: 0;
	padding: 6px 20px;
	text-decoration: none;
	white-space: nowrap;
	word-wrap: normal;
}

.ppcontextmenu li:hover {
	color: #fff;
	background-color: #333;
}