#js-quiz .quiz {
	width: auto;
	max-width: 620px;
	display: block;
	color: white;
	position: absolute;
	right: 5%;
}

#js-quiz .quiz__btn--main {
	color: #65c5e8;
	background: #fff;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-transition: all 250ms;
	transition: all 250ms;
}

#js-quiz .quiz__btn--main:hover {
	background: #e00049;
	color: #fff !important;
}

#js-quiz .quiz__btn {
	display: inline-block;
	border-radius: 3px;
	padding: 10px 25px;
	text-transform: uppercase;
	cursor: pointer;
	border: none;
	font-size: 16px;
}

.quiz {
	width: auto;
	max-width: 100%;
	margin: 0 auto;
	display: block;
	color: white;
	position: relative;
	padding: 0;
}

.quiz:before {
	display: none;
}

.quiz--post-video {
	display: none;
}

.quiz__header {
	padding: 27px 30px 25px 30px;
}

.quiz__header--post-video {
	background: #5a8601;
}

.quiz__header--certif {
	background: #65c5e8;
}

.quiz__header-subtitle {
	font-size: 1.2em;
	text-transform: uppercase;
	margin: 0;
}

.quiz__header-title, .certif-results__title {
	font-size: 2em;
	font-weight: normal;
	margin: 0;
	line-height: 1.2em;
}

.quiz__header-title--certif:before {
	position: relative;
	left: -4px;
	top: 3px;
}

.quiz__container {
	padding: 20px 20px 0;
	transition:all .5s ease;
	-webkit-transition:all .5s ease;
	-moz-transition:all .5s ease;
}

.quiz__container--post-video {
	background: #65c5e8;
	border-radius: 5px;
}

.quiz__container--certif {
	background: #65c5e8;
}

.quiz__container--success {
	background: #65c5e8;  
}

.quiz__container--error {
	background: #f22065;
}

.quiz__tips h3 {
	padding: 20px;
	margin: -20px -20px 40px;
	font-size: 22px;
	background: #395597;
	color: #fff;
}

.quiz__tips:before, .quiz__tips:after {
	content: " ";
	display: table;
}

.quiz__tips:after {
	clear: both;
}

.quiz__buttons {
	text-align: center;
	font-size: 1.2em;
	padding: 40px 0;
	font-family: 'sofia_problack';
}

.quiz__buttons button {
	margin-right: 15px;
}

.quiz__buttons button:last-child {
	margin-right: 0;
}

.quiz__btn {
	display: inline-block;
	border-radius: 2px;
	padding: 0 25px;
	text-transform: uppercase;
	letter-spacing: 0.03em;
	outline: 0;
	cursor: pointer;
}

@media only screen and (max-width: 640px) {
	.quiz__btn {
		display: block;
		width: 100%;
		margin-bottom: 8px;
	}

	.quiz__btn:last-of-type {
		margin-bottom: 0px;
	}
}

.quiz__btn i {
	font-size: 1em;
	position: relative;
	padding-right: 10px;
}

.quiz__btn--main, .quiz__btn--main-certif {
	background: #5bc500;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-transition: all 250ms;
	transition: all 250ms;
}

.quiz__btn--main:hover, .quiz__btn--main:active, .quiz__btn--main:focus, .quiz__btn--main-certif:hover, .quiz__btn--main-certif:active, .quiz__btn--main-certif:focus {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

.quiz__btn--main {
	color: #6ba001;
}

.quiz__btn--main i {
	color: #6ba001;
}

.quiz__btn--main-certif {
	color: white;
}

.quiz__btn--main-certif i {
	color: white;
}

.quiz__btn--alt {
	background: transparent;
	color: white;
	-webkit-transition: all 350ms;
	transition: all 350ms;
	border:0;
}

.quiz__btn--alt .repeat {
	top: 1px;
}

.quiz__btn--alt:hover {
	background: #395597;
}

.quiz__tip {
	width: 33.332%;
	float: left;
	text-align: center;
}

.quiz__tip i {
	font-size: 5.5em;
	color: #395597;
}

.quiz__tip p {
	padding: 0 15px;
	font-size: 16px;
	line-height: 1.2em;
}

.quiz__tip--certif {
	width: auto;
	max-width: 70%;
	margin: 0 auto;
	float: none;
}

.quiz__tip--certif p {
	font-size: 1.5em;
	margin-bottom: 0;
	line-height: 1.3em;
}

.quiz__tip--certif i {
	color: #65c5e8;
}

@media only screen and (max-width: 640px) {
	.quiz__tip {
		width: 100%;
		float: none;
		padding-bottom: 20px;
	}

	.quiz__tip:last-of-type {
		padding-bottom: 0px;
	}

	.quiz__tip i {
		font-size: 3.3em;
		display: inline-block;
		float: left;
		padding-right: 20px;
	}

	.quiz__tip p {
		position: relative;
		top: 5px;
	}
}

.quiz__results {
	padding: 0 30px 30px;
	text-align: center;
}

.quiz__results-copy {
	max-width: 450px;
	margin: 0 auto 25px auto;
}

.quiz__multiple {
	padding: 0 15px;
	display: none;
	text-align: center;
}

@media only screen and (max-width: 767px) {
	.quiz__multiple {
		padding: 0;
	}
}

.quiz__results-alt {
	display: none;
}

.quiz__questions {
	position: relative;
}

.quiz-timer {
	width: 60px;
	height: 60px;
	position: absolute;
	top: 10px;
	right: 10px;
	background: #496d01;
	text-align: center;
	padding: 8px;
	border-radius: 37px;
	display: none;
}

.quiz-timer:before {
	display: block;
	font-size: 1.1em;
	text-align: center;
	padding-top: 2px;
}

.quiz-timer__remaining {
	font-size: 1em;
	line-height: 25px;
}

.multiple__item {
	margin-bottom: 25px;
}

@media only screen and (max-width: 1023px) {
	.multiple__item {
		font-size: 0.9em;
	}
}

.multiple__question {
	padding: 8px 30px 10px 30px;
	margin: 0;
	background: #006587;
}

.multiple__answers {
	list-style: none;
	padding: 15px 0;
	margin: 0;
}

.multiple__answers:before, .multiple__answers:after {
	content: " ";
	display: table;
}

.multiple__answers:after {
	clear: both;
}

.multiple__answers.is-answered .multiple__answer {
	color: #69B3CB;
}

.multiple__answers.is-answered .is-selected {
	color: white !important;
}

.multiple__answers.is-answered .is-selected a {
	border-color: #769cc8;
}

.multiple__answer {
	display: inline-block;
	width: 33.332%;
	float: left;
	-webkit-transition: all 150ms;
	transition: all 150ms;
}

@media only screen and (max-width: 767px) {
	.multiple__answer {
		display: block;
		width: 100%;
		float: none;
		margin-bottom: 8px;
	}
}

.multiple__answer a {
	display: inline-block;
	border-radius: 2px;
	padding: 3px 14px;
	-webkit-transition: all 150ms;
	transition: all 150ms;
}

.certif-results {
	padding: 25px;
	text-align: center;
}

.certif-results__title {
	padding-top: 15px;
	margin-bottom: 30px;
}

.certif-results__title:before {
	display: block;
	font-size: 3em;
	text-align: center;
	padding-bottom: 5px;
}

.certif-results__copy {
	max-width: 400px;
	margin: 0 auto 25px auto;
	font-size: 1.5em;
}

ol.questions, ul.answers, ul.responses, ol.questions li, ul.answers li, ul.responses li {
	list-style-type: none;
}

/* Accessibility */
.quizName span:first-child {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.questions {
	margin: -20px -20px 0;
	padding: 0;
	list-style: none;
	text-align: center;
	background: #5472a9;
}

.question h3 {
	font-size: 22px;
	font-weight: normal;
	line-height: 1.2em;
	margin: 0;
	text-align: left;
	padding: 20px 20px 24px;
}

.question .video {
	width: 85%;
	margin: 25px auto;
	display: block;
}  

.answers:before, .answers:after {
	content: " ";
	display: table;
}
.answers:after {
	clear: both;
}
.answers li {
	display: block;
	padding: 12px 20px;
	clear: both;
	-webkit-transition: all 350ms;
	transition: all 350ms;
	cursor: pointer;
	text-align: center;
	font-size: 18px;
	box-sizing: border-box;
}
.answers li:hover {
	background: #395597;
}
.answers li:last-child {
	margin-bottom: 0px;
}
.answers li input  {
	font-size: 18px;
	cursor: pointer;
}
.answers.answers-video li input[type=radio] {
	display: none !important;
}
.answers li label {
	position: relative;
	cursor: pointer;
	display: block;
}
.answers .checked {
	background-color: #FFFFFF;
	border-color: white;
	color: #65c5e8;
}

.answers-video li {
	display: inline-block;
	text-align: center;
	width: 100%;
	box-sizing: border-box;
}

.answers-img li {
	display: inline-block;
	padding: 20px;
	clear: none !important;
	text-align: center;
	width: 100%;
	box-sizing: border-box;
}

.answers-img li label {
	padding-left:0;
	transition:all .5s ease;
	-webkit-transition:all .5s ease;
	-moz-transition:all .5s ease;
	border: 10px solid transparent;
	display: block;
}

.answers-img li input[type=radio] {
	display: none;
}

.answers-img li .checked-answer img {
	border: 10px solid #7AB901;
	border-radius: 5px;
}

.answers-img li .checked-answer:after,
.answers-video li .checked-answer:after
{
	content: "\53";
	font-family: "dripicons-v2" !important;
	font-size: 40px;
	line-height: 2;
	display: block;
	width: 85px;
	height: 85px;
	border-radius: 50%;
	background-color: #7AB901;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	opacity: 0.7;
	text-align: center;
}

.answers-video li .checked-answer .video {
	border: 8px solid #7AB901;
	border-radius: 5px;
}


.answers-video li .checked-answer  {
	border-radius: 5px;
}

.answers-text li label {
	padding: 15px;
}

.answers-text li input[type=radio] {
	display: none;
}

.answers-text li .checked-answer {
	background-color: #7AB901;
	border-radius: 5px;
}

.answers-text li .checked-answer:after {
	content: "\53";
	font-family: "dripicons-v2" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	top: 4px;
	margin-left: 5px;
}

.responses {
	padding: 0 20px;
	margin: 0;
}

.responses p {
	margin: 0 auto 40px auto;
	font-size: 18px;
	line-height: 1.2em;
}

.responses .correct p:before, .responses .incorrect p:before {
	display: block;
	font-size: 3em;
	margin: 1em 0 1em 0;
	text-align: center;
	font-family: 'dripicons-v2' !important;
}

.responses .correct:before, .responses .incorrect:before {
	content: "Correcto";
	font-size: 36px;
	text-transform: uppercase;
	margin: 40px 0;
	display: block;
	font-family: 'sofia_problack';
}

.responses .incorrect:before {
	content:"Incorrecto";
}

.checkAnswer, .nextQuestion {
	display: inline-block;
	font-size: 1.2em;
	border-radius: 2px;
	padding: 0 25px;
	text-transform: uppercase;
	letter-spacing: 0.03em;
	outline: 0;
	cursor: pointer;
	background: #5bc500;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-transition: all 250ms;
	transition: all 250ms;
	margin-top: 15px;
}

.checkAnswer:hover, .checkAnswer:active, .checkAnswer:focus, .nextQuestion:hover, .nextQuestion:active, .nextQuestion:focus {
	background: #e00049;
	color: #fff;
}

.startQuiz, .nextQuestion, .backToQuestion, .questions li.question, .questions li.question .responses, .questions li.question .responses .correct, .questions li.question .responses .incorrect, .quizResults {
	display: none;
}

.quiz--post-video .nextQuestion {
	display: none;
}

.nextQuestion.checkAnswer {
	display: block;
}

.quiz--post-video .question h3 {
	background: #395597;
}

.quiz--post-video .checkAnswer, .quiz--post-video .nextQuestion {
	background: transparent;
	color: #fff;
	border: 1px solid #fff;
	margin: 30px 10px;
	padding: 10px 20px;
	min-height: auto;
}

.quiz--post-video .checkAnswer:hover, .quiz--post-video .nextQuestion:hover {
	background: #fff;
	color: #5472a9;
}

.quiz--certif .question h3 {
	background: #65c5e8;
}

.quiz--certif .checkAnswer, .quiz--certif .nextQuestion {
	color: white;
}

.correctResponse, .incorrectResponse {
	padding-bottom: 50px;
}

.incorrectResponse {
	background-color: #f22065;
}

.incorrectResponse h3 {
	background-color: #e00049 !important;
}

.incorrectResponse .nextQuestion {
	color: #fff !important;
	background: none;
	border: 1px solid #fff;
}

.incorrectResponse .nextQuestion {
	color: #f22065 !important;
	background: #fff !important;
}

.quiz__container--error .nextQuestion {
	color: red;
}