/* ESTRUCTURA BÁSICA */
/*
$azul: #0074AD;
$celeste: #00BCF1;
$naranja: #FF671B;
$gris: #DBD9D6;

$verde: #71A087;
$verdeClaro: #B9CE95 ;


$font: font-family: 'Roboto', sans-serif;

*/

html,
body {
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
}
div:focus,
button:focus,
a:focus {
    outline: none;
}
.wrapper {
    padding: 40px 20px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.inner-cols {
    padding: 5px;
}
.col20,
.col25,
.col33,
.col50,
.col66,
.col75,
.col100 {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    padding: 0 0px;
}
.inner-cols .col20,
.inner-cols .col25,
.inner-cols .col33,
.inner-cols .col50,
.inner-cols .col66,
.inner-cols .col75,
.inner-cols .col100 {
    padding: 0 5px;
}
.col20 {
    width: 20%;
}
.col25 {
    width: 25%;
}
.col33 {
    width: 33.33%;
}
.col50 {
    width: 50%;
}
.col66 {
    width: 66.67%;
}
.col75 {
    width: 75%;
}
.col100 {
    width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
b,
p,
a,
em,
span,
small,
sub,
sup,
i,
label,
input,
select,
textarea,
td,
th,
button {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-weight: normal;
    letter-spacing: 0.03em;
}
/* ESTILOS COMUNES A TODAS LAS PÁGINAS */

a,
.user-top,
.notifications,
.video-details,
.video-play,
input,
aside,
header,
.content,
.ppstart,
label,
:before,
:after {
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
    background: #00BCF1;
    z-index: 10;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 0 0 280px;
}
html.bg-blue,
html.bg-blue body {
    background: #0074ad;
}
html.bg-white,
html.bg-white body {
    background: #fff;
}
body.login {
    text-align: center;
    display: flex;
    align-items: center;
}
body.registro {
    display: block;
    padding-top: 40px;
    background-color: #F4F4F4;
}
a {
    text-decoration: none!important;
}
a:hover {
    text-decoration: none!important;
}
.right {
    float: right;
}
.whitetext {
    color: #FFF;
}
.bluetext {
    color: #0074AD;
}
.orangetext {
    color: #FF671B;
}
.subtext {
    font-size: 0.8em;
    font-weight: 400;
}
.subtext-it {
    font-size: 0.8em;
    font-weight: 400;
    font-style: italic;
    opacity: 0.5;
}
.subtext-it:hover {
    color: #FF671B !important;
}
.visibleMobile {
    display: none;
}
ul.tabs {
    display: block;
    border-bottom: 3px solid #01acc4;
    overflow: hidden;
}
ul.tabs li {
    float: left;
}
ul.tabs-2 li {
    width: 50%;
}
ul.tabs-4 li {
    width: 24.8%;
    margin-right: 2px;
}
ul.tabs-4 li:last-child {
    margin-right: 0px;
}
ul.tabs a {
    display: block;
    text-align: center;
    border-radius: 5px 5px 0 0;
    background: rgba(255, 255, 255, .6);
    padding: 10px 0;
    margin: 10px 0 0;
    color: #01acc4;
    top: 10px;
}
ul.tabs li.current a {
    background: #FF671B;
    font-weight: 500;
    margin: 0;
    padding: 19px 0;
    color: white;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
ul.tabs li.current a:hover {
    opacity: 0.9;
    text-decoration: none;
}
ul.tabs a:hover {
    color: #f26836;
    text-decoration: underline;
}
ul.tabs + .module {
    border-radius: 0 0 5px 5px;
}
/* ESTILOS LOGIN */

.logo {
    display: block;
    margin: 0 auto;
    width: 170px;
    max-width: 100%;
    padding-bottom: 20px;
}
.logo-login {
    display: block;
    margin: 0 auto;
    width: 190px;
    max-width: 100%;
    padding-bottom: 40px;
}
.logoRegistro {
    display: block;
    margin: 0 auto;
    width: 400px;
    max-width: 100%;
    padding-bottom: 20px;
}
.userimg {
    margin: 0 auto;
    color: white;
    width: 50px;
    height: auto;
}
.login form {
    width: 360px;
    padding: 40px 20px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100%;
}
.login {
    background-color: #0074AD;
    color: white;
    height: 100%;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
}
.login label,
.login input,
.login button,
.login select,
.login textarea {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
    color: #00acc4;
    font-size: 16px;
}
.login label {
    margin: 20px 0 5px;
}
.login input,
.login button,
.login select {
    height: 45px;
}
.login input {
    border: none;
    color: #00acc4;
    border-bottom: 1px solid;
    margin: 0 0 30px;
    border-radius: 2px;
    padding-left: 17px;
}
.login input[type="button"] {
    padding: 0;
}
.login input:focus,
.login select:focus {
    background: #f7fbfb;
    outline: none;
    padding: 0 10px;
    border-radius: 2px;
}
.login input[type=submit],
.login input[type=button],
.login button {
    text-align: center;
    margin: 30px 0;
    background: #0074AD;
    border: none;
    text-align: center;
    font-weight: 700;
    color: #fff !important;
    border-radius: 2px;
    box-shadow: inset rgba(0, 0, 0, .3) 0 0 0 1px;
}
.login input[type=submit]:hover,
.login input[type=button]:hover,
.login button:hover {
    background: #f26935;
}
.login::-webkit-input-placeholder,
.registro::-webkit-input-placeholder {
    color: #00acc4;
    opacity: 1;
}
.login:-moz-placeholder,
.registro:-moz-placeholder {
    color: #00acc4;
    opacity: 1;
}
.login::-moz-placeholder,
.registro::-moz-placeholder {
    color: #00acc4;
    opacity: 1;
}
.login:-ms-input-placeholder,
.registro:-ms-input-placeholder {
    color: #00acc4;
    opacity: 1;
}
.login::-ms-input-placeholder,
.registro::-ms-input-placeholder {
    color: #00acc4;
    opacity: 1;
}
.login a {
    color: #fff;
    margin-bottom: 10px;
    display: block;
}
.login a:hover {
    text-decoration: underline;
    color: #FF671B;
}
/*PROGRESS BAR REGISTRO*/

#progressbar {
    margin: 30px 0;
    overflow: hidden;
    counter-reset: step;
}
#progressbar li {
    list-style-type: none;
    text-transform: uppercase;
    font-size: 9px;
    width: 33.33%;
    float: left;
    position: relative;
    color: #0074AD;
    z-index: 56;
}
#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 23px;
    line-height: 23px;
    display: block;
    font-size: 10px;
    color: #333;
    background: white;
    border-radius: 13px;
    margin: 0 auto 5px auto;
    position: relative;
    z-index: 46;
}
/* registro steps */

#msform {
    text-align: center;
    position: relative;
}
#msform .fieldset {
    /*stacking fieldsets above each other*/
    
    position: relative;
}
/*Hide all except first fieldset*/

#msform .fieldset:not(:first-of-type) {
    display: none;
}
/*progressbar connectors*/

#progressbar li:after {
    content: '';
    width: 98%;
    height: 2px;
    background: #0074AD;
    position: absolute;
    left: -46%;
    top: 9px;
    z-index: 1;
    color: #0074AD;
}
#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    
    content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/

#progressbar li.active:before,
#progressbar li.active:after {
    background: #0074AD;
    color: white;
}
/* REGISTRO */

.registro {
    color: white;
    height: 100%;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
}
.subtextRegistro {
    text-align: left;
    width: 96%;
    margin-top: -10px;
}
.registro form {
    max-width: 100%;
    width: 640px;
    background-color: #F4F4F4;
}
.registroMe #register-submit {
    background-color: #00BCF1;
}
.registroMe #register-submit:hover {
    background-color: #FF671B;
}
.registro h1 {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 12px 0;
    color: white;
    font-size: 22px;
    font-weight: 400;
}
.registro h2 {
    color: #00acc4;
    font-size: 18px;
    border-bottom: 2px solid;
    padding: 10px 0;
    margin: 30px 0;
    text-align: left;
}
.registro label {
    color: #4d4e50;
    padding: 20px 0 5px;
    font-weight: 600;
}
.registro h1 + label,
.registro h2 + label {
    padding-top: 0;
    border: none;
}
.registro input,
.registro select,
.registro textarea {
    border-bottom: 1px solid;
    border-radius: 3px;
    padding: 10px;
    resize: none;
    background-color: #F4F4F4;
    margin: 0 0 20px;
}
.registro textarea {
    height: 120px;
}
.registro hr {
    border-top: 1px solid #ddd;
}
.registro input[type="checkbox"],
.registro input[type="radio"] {
    display: none;
}
.registro input[type="checkbox"] + label,
.registro input[type="radio"] + label {
    color: #00acc4;
    border: 1px solid;
    margin: 0 0 10px;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
}
.registro input[type="checkbox"] + label:hover,
.registro input[type="radio"] + label:hover {
    background: #f7fbfb;
}
.registro input[type="checkbox"] + label:before,
.registro input[type="radio"] + label:before {
    text-align: center;
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #00acc4;
    border-radius: 2px;
    margin: -5px 10px -5px 0;
    font-family: 'dripicons-v2';
    overflow: hidden;
    line-height: 18px;
    color: #fff;
    content: "\53";
    background: #fff;
}
.registro input[type="checkbox"] + label:before,
.registro input[type="radio"] + label:before {
    text-align: center;
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #00acc4;
    border-radius: 2px;
    margin: -5px 10px -5px 0;
    font-family: 'dripicons-v2';
    overflow: hidden;
    line-height: 18px;
    color: #fff;
    content: "\53";
    background: #fff;
}
.registro input[type="checkbox"] + label:before,
.registro input[type="radio"] + label:before {
    display: none;
}
.labelWCheck label {
    text-align: center;
    width: 12%;
    display: inline-block;
}
.registro small {
    text-align: left;
    color: #4d4e50;
}
.registro fieldset {
    text-align: left;
}
.registro input[type="checkbox"]:checked + label,
.registro input[type="radio"]:checked + label {
    background: #c9e2e2;
}
.registro input[type="checkbox"]:checked + label:before,
.registro input[type="radio"]:checked + label:before {
    background: #00acc4;
}
.label50 label {
    display: inline-block;
    width: 49%;
    vertical-align: top;
}
.label25 label {
    display: inline-block;
    width: 24%;
    vertical-align: top;
}
.label33 label {
    display: inline-block;
    width: 32%;
    vertical-align: top;
}
.label20 label {
    display: inline-block;
    width: 19%;
    vertical-align: top;
}
/* REGISTRO EMPRENDEDOR */

.registroEm h1 {
    background: #00BCF1;
}
.registroEm h2 {
    padding: 0px;
    margin: 30px 0px 0px 0px;
}
.registroEm label {
    padding: 0px 0 5px;
}
.registroEm textarea {
    height: 120px;
}
.registroEm fieldset {
    margin-top: 5px;
}
.registroEm .comienzo {
    margin-top: 20px;
}
/* REGISTRO MENTOR */

.registroMe h1 {
    background: #0074AD;
}
.situacion-laboral-1 {
    display: none;
}
.situacion-laboral-2 {
    display: none;
}
.situacion-laboral-3 {
    display: none;
}
.situacion-laboral-4 {
    display: none;
}
.situacion-laboral-5 {
    display: none;
}
.loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0096c6 url(../img/loading.gif) center center no-repeat;
    z-index: 9;
    display: none;
}
.loading-content {
    position: relative !important;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.loading-content:after {
    background: #0096c6 url(../img/loading.gif) center center no-repeat;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.logo-mobile,
.burger {
    display: none;
}
.breadcrumbs {
    float: left;
    color: #fff;
    margin: 20px 0;
}
.breadcrumbs a {
    color: inherit;
    font-size: 16px;
    margin: 0 10px;
    text-decoration: underline;
}
.breadcrumbs a:hover {
    text-decoration: underline;
}
.breadcrumbs li {
    float: left;
}
.breadcrumbs li:after {
    content: '>';
}
.breadcrumbs li:last-child:after {
    display: none;
}
.noti-top {
    float: right;
    height: 65px;
    width: 100px;
    position: relative;
}
.noti-top a {
    text-align: center;
    color: #fff;
    font-size: 28px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px 0 0;
    display: block;
    height: 65px;
    overflow: hidden;
    position: relative;
}
.noti-count {
    background: #f26935;
    color: #fff;
    font-size: 12px;
    width: 18px;
    height: 18px;
    text-align: center;
    position: absolute;
    top: 10px;
    right: 24px;
    line-height: 18px;
    border-radius: 50%;
}
.noti-top-active {
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}
.noti-top a:before {
    margin: 0;
    color: white;
}
.user-top {
    float: right;
    position: relative;
}
.user-top-expanded {
    box-shadow: 0 5px 20px rgba(0, 0, 0, .2);
    border-radius: 0 0 5px 5px;
}
.user-pic {
    border: 2px solid #fff;
    width: 25px;
    height: 25px;
    background: center center no-repeat;
    background-size: cover;
    border-radius: 50%;
    float: left;
    margin: 2px 15px 0 0;
}
.user-top > a {
    display: block;
    color: #fff;
    height: 65px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px 20px;
    overflow: hidden;
    position: relative;
}
.user-top-expanded > a {
    background: #65c5e8;
}
.user-top h4 {
    float: left;
    font-size: 18px;
    margin: 5px 0 0;
}
.user-top ul {
    background: #fff;
    overflow: hidden;
    border-radius: 0 0 5px 5px;
}
.user-top ul a {
    color: #0096c6;
    display: block;
    font-size: 16px;
    padding: 15px 20px;
    overflow: hidden;
    position: relative;
}
.user-top ul a:hover {
    background: #d1ebf3;
}
.user-top ul li:last-child a:before {
    color: #f26935;
}
.dropdown:after {
    content: 'T';
    font-family: 'dripicons-v2';
    margin: 0 0 0 5px;
    position: relative;
    top: 4px;
}
.dropdown + ul {
    display: none;
}
.dropdown-expanded:after {
    content: 'W';
}
aside {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background: #0074AD;
    text-align: center;
    padding: 40px 0 0;
    z-index: 11;
    -webkit-box-shadow: rgba(0, 0, 0, .1) 0 0 30px;
    box-shadow: rgba(0, 0, 0, .1) 0 0 30px;
}
aside .logo {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 200px;
    max-width: 100%;
    padding-bottom: 10px;
}
aside nav {
    text-align: left;
    margin: 20px 0 0;
}
aside img {
    max-width: 100%;
}
aside nav li {
    display: block;
}
aside nav a {
    display: block;
    padding: 13px 20px;
    color: #fff;
    font-size: 16px;
    position: relative;
    overflow: hidden;
}
aside nav a:before,
.user-top ul a:before,
.video-details p:before {
    margin: 0 10px 0 0;
    position: relative;
    top: 1px;
    font-family: 'dripicons-v2' !important;
}
aside nav a:before {
    color: #f26935;
}
aside nav a:hover {
    background: #E3F5F8;
    color: #0074AD;
}
aside nav .current a {
    background: #00acc4;
    color: #fff;
    -webkit-box-shadow: inset #FC7642 -10px 0 0;
    box-shadow: inset #FC7642 -10px 0 0;
}
aside nav .current a:before {
    color: #fff;
}
aside nav .dropdown + ul {
    background: rgba(30, 55, 133, .5);
}
aside nav .dropdown + ul a {
    padding-left: 45px;
}
.notifications {
    position: fixed;
    top: 60px;
    right: -250px;
    bottom: 0;
    height: calc(100% - 65px);
    width: 250px;
    background: #fff;
    z-index: 9;
}
.notifications-expanded {
    -webkit-transform: translateX(-250px);
    -ms-transform: translateX(-250px);
    -o-transform: translateX(-250px);
    transform: translateX(-250px);
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}
.notifications h4 {
    font-size: 20px;
    color: #65c5e8;
    margin: 0 20px;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}
.notifications a {
    padding: 15px 20px;
    display: block;
    color: #0096c6;
    position: relative;
    overflow: hidden;
}
.notifications span {
    font-family: inherit;
    line-height: 1.2em;
}
.noti-text {
    font-size: 16px;
}
.noti-date {
    font-size: 13px;
    text-align: right;
    display: block;
}
.unread a {
    background: #eaf6f9;
    font-weight: 700;
}
.notifications a:hover {
    background: #d1ebf3 !important;
}
.content {
    padding: 65px 0 0 260px;
}
.module {
    border-radius: 5px;
    box-shadow: 0 15px 5px -10px rgba(0, 0, 0, .07);
    margin: 0 0 40px;
    background: #fff;
    overflow: hidden;
    padding: 6px;
    position: relative;
}
.module:before {
    position: absolute;
    top: 0;
    right: 20px;
    left: 20px;
    height: 5px;
    border-radius: 0 0 5px 5px;
    background: #65c5e8;
}
.module > h2 {
    margin: 0;
    font-size: 22px;
    color: #0096c6;
}
.module-title {
    position: relative;
    padding: 0 0 20px;
    float: left;
    color: #0096c6;
}
.module-title[data-icon] {
    padding-left: 30px;
}
.module-title:before {
    position: absolute;
    top: 10px;
    left: 0;
    font-size: 22px;
    color: #65c5e8;
}
.module-title h2 {
    margin: 0;
    font-size: 20px;
    line-height: 1.2em;
}
.module-title h5 {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    line-height: 1.2em;
}
.module-buttons {
    float: right;
}
.module-buttons a.button,
.module-buttons span {
    text-transform: uppercase;
    margin: 0 0 20px 20px;
    float: left;
}
.module-buttons a.button:first-child,
.module-buttons span:first-child {
    margin-left: 5px;
}
.module-blue {
    background: #0096c6;
    color: #fff;
}
.module-blue:before {
    background: #f26935;
}
.module-blue .module-title {
    color: #fff;
}
.module-blue .module-buttons a.button {
    background: #f26935;
}
.module-blue .module-buttons a.button:hover {
    background: #f22065;
}
.search-bar {
    padding: 0;
}
.search-bar:before {
    display: none;
}
.search-bar form {
    margin: 15px 0;
    border: none;
    border-radius: 3px;
    background: #eee;
    height: 35px;
    position: relative;
}
.search-bar select:focus,
.search-bar input:focus {
    background: #d8f0f9;
    box-shadow: none;
    border: none;
    outline: none;
}
.search-bar input,
.search-bar select {
    height: 100%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    background: transparent;
    color: #0096c6;
    padding: 0 20px;
    width: calc(100% - 45px);
    border-radius: 3px;
}
.search-bar input[type='submit'],
.search-bar input[type='button'],
.search-bar button {
    width: 45px;
    font-family: 'dripicons-v2';
    text-align: center;
    font-size: 24px;
    padding: 0;
}
.search-bar input[type='submit']:hover,
.search-bar input[type='button']:hover,
.search-bar button:hover {
    background: #f26935;
    color: #fff;
}
.search-bar a.button {
    margin-top: 5px;
}
a.button,
.module-buttons span {
    background: #0096c6;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    min-height: 45px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 12px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    overflow: hidden;
}
a.button:hover {
    background: #5472a9;
}
.module-buttons span,
a.lightblue-button {
    background: #fff;
    color: #65c5e8;
    box-shadow: 0 0 0 1px #65c5e8 inset;
    background: transparent;
}
a.lightblue-button:hover {
    background: #65c5e8;
    color: #fff;
}
.search-bar a.button {
    display: block;
    padding: 12px 0;
}
/* HOME */

.container .home {
    max-width: 1024px;
    width: 100vw;
    float: left;
}
.timeline-item .checked {
    color: orange;
}
.timeline-item .rating {
    height: 10px;
}
.timeline-item {
    padding: 3.4em 2em;
    position: relative;
    color: rgba(0, 0, 0, 0.7);
    width: 100%;
    border-left: 2px solid rgba(0, 0, 0, 0.3);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: rgba(0, 0, 0, .1) 0 15px 5px -10px;
    border-bottom-right-radius: 35px;
    border-top-right-radius: 5px;
    box-shadow: rgba(0, 0, 0, .1) 0 15px 5px -10px;
}
.timeline-item:hover {
    background: #d1ebf3 !important;
}
.timeline-item h2 {
    margin: 15px 0;
    color: #0074AD;
}
.reporte .refes {
    text-decoration: underline;
    color: #FC7642;
    float: left;
    padding-left: 15px;
    padding-top:15px;
    font-size: 15px;
    font-weight: 600;
}
.reporte .ministerio .timeline-item h2 {
    margin: 5px 0;
}
.reporte .timeline-closed img{
    display: inline-block;
    vertical-align: top;
    padding-bottom: 10px;
    padding-left: 15px;
}
.reporte .content-timeline {
    width: 70%;
    display: inline-block;
    padding-left: 10px;
}
.reporte .timeline-closed {
    display: inline-block;
    vertical-align: text-top;
}
.timeline-item h3 {
    margin: 0px 0px 15px 0;
    display:block;
}
.ratingResult {
    display: inline-block;
}
.timeline-item p {
    margin: 0px 0px 15px;
}
.timeline-item::before {
    content: attr(sesion);
    position: absolute;
    font-weight: bold;
    top: 0.6em;
    display: block;
    font-weight: 700;
    font-size: 1.2rem;
    color: #0074AD;
}
.programa .timeline-item::before {
    content: attr(name);
    position: absolute;
    font-weight: bold;
    top: 0.8em;
    display: block;
    font-weight: 700;
    font-size: 1.2rem;
    color: #0074AD;
}
.ministerio .timeline-item::before {
    content: attr(name);
    position: absolute;
    font-weight: bold;
    top: 0.6em;
    display: block;
    font-weight: 700;
    font-size: 1.2rem;
    color: #0074AD;
}
.timeline-item::after {
    width: 14px;
    height: 14px;
    display: block;
    top: 1em;
    position: absolute;
    left: -7px;
    border-radius: 10px;
    content: "";
    background: #0074AD;
}
.timeline-item .active::after {
    width: 10px;
    height: 10px;
    display: block;
    top: 1em;
    position: absolute;
    left: -7px;
    border-radius: 10px;
    content: "";
    border: 2px solid rgba(0, 0, 0, 0.3);
    background: blue;
}
/*.activeTimeline {
    background-color: rgba(0, 188, 241, 0.08);
}*/
.timeline-item:last-child {
    border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 60%, transparent) 1 100%;
}
.timeline-item hr {
    box-sizing: content-box;
    height: 1px;
    border-top: 1px solid #ccc;
    margin: 0.8em 0 1em;
}
.oneTab .current {
    width: 100%;
}
.oneTab .current h2 {
    margin: 0px;
}
.oneTab .current p {
    margin: 0px;
    padding-top: 10px;
}
.expandir-emprendedor {
    background: #FFF;
    font-weight: 600;
    margin: 0;
    padding: 5px 0;
    color: #01acc4;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin-bottom: 5px;
    border:1px solid #00BCF1;
    text-align: center;
}
.expandir-emprendedor:hover {
    position: relative;
    top: 2px;
}
.expandir-emprendedor.current{
    background: #FF671B;
    color: white;
    border:none;
}
.home-visible-sm {
    display: none;  
}
.expandir-emprendedor h3{
    font-weight: 600;
}
.sesionA, .sesionB, .sesionC, .sesionD {
    display: none;
}
/* PUNTUACION */

.calificarBtn {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: auto;
}
.home .timeline-item .sesionCalificar {
    border-radius: 5px;
    background-color: rgba(0, 188, 241, 0.5);
    color: white;
    -webkit-transition: .4s;
    transition: .4s;
    padding: 10px 20px;
    border-top-left-radius: 29px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 29px;
    font-weight: 300;
    border: none;
}
.home .ministerio .timeline-item {
    padding: 1em 2em;
}
.popupCertificacion {
    position: fixed;
    text-align: left;
    overflow: auto;
    max-height: 95%;
    background: #fff;
    cursor: pointer;
    white-space: normal;
    border-radius: 5px;
    width: 880px;
    max-width: 93%;
    height: 610px;
    z-index: 40;
    padding-bottom: 30px;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.popupCertificacion img {
    display: block;
    margin: 0 auto;
    width: 341px;
    padding:20px;
    max-width: 85%;
}
.popupCertificacion .contentCertificado {
    text-align: center;
    padding: 20px 0px;
}
.popupCertificacion .name {
    font-size: 28px;
    font-weight: 600;
    color: #0074AD;
    margin:0px;
}
.popupCertificacion h2 {
    font-size: 28px;
    font-weight: 600;
    margin:0px;
}
.popupCertificacion h3 {
    font-size: 16px;
    font-weight: 600;
    margin:0px;

}
.popupCertificacion .contentCertificado p {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
}
.popupCertificacion .headerCertificado {
    background-color: #0074AD;
}
.popupCertificacion .firmasCertificado {
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}
.popupCertificacion hr {
    width: 100%;
    color: #0074AD;
    background-color: #0074AD;
    border:none;
}
.firmasCertificado img{
   margin-bottom:-50px;
}
.firma1, .firma2, .firma3 {
    display: inline-block;
    padding: 0px 20px;
    width: 184px;
    font-size: 12px;
}
.descargarCertificado {
    color: white;
    opacity: 0.8;
    font-size: 15px;
    position: fixed;
    z-index: 35;
    top: 680px;
    left: 75%;
    transform: translateX(-75%);
}
.descargarCertificado i{
    margin-right: 7px;
}
#overlayCertificacion {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    z-index: 30;    
}
.popupCertificacion .close-icon {
    font-size: 22px;
    color: white;
}
.popupCertificacion #closeBtn {
    position: absolute;
    right: 10px;
    top: 10px;
}  
.popupCalificacion {
    position: relative;
    text-align: left;
    vertical-align: middle;
    padding: 55px 30px 5px 51px;
    background: #fff;
    cursor: pointer;
    white-space: normal;
    border-radius: 5px;
    width: 530px;
    max-width: 93%;
    z-index: 40;
    top: 15px;
    left: 50%;
    height: auto;
    transform: translateX(-50%);
    box-shadow: rgba(0,0,0,0.4);
}
.popupSatisfaccion {
    padding: 15px 15px 15px 41px;
}
.popupSatisfaccion h2{
   text-align: center;
   color:#0074AD;
   width: 470px;
   font-size: 26px;
   max-width: 100%
}
.popupSatisfaccion hr{
   width: 470px;
   max-width: 100%
}
.popupSatisfaccion input[type=submit],
.popupSatisfaccion input[type=button],
.popupSatisfaccion button {
    margin: 20px 0px 20px 0px !important;
}
#overlayCalificacion {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    z-index: 30;
}
#popupCalificacion {
    display: none;
}

.popupCalificacion .cameraButton {
    width: 69%;
    display: block;
    margin: 0 auto 20px;
    border-radius: 30px;
    background-color: #FF7732;
}
.popupCalificacion .cameraButton i{
    padding-right: 10px;
    position: relative;
    top: 3px;
}
.absolute-center {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.popupCalificacion .close-icon {
    font-size: 27px;
    color: #0074AD;
}
.popupCalificacion #closeBtn {
    position: absolute;
    right: 10px;
    top: 10px;
    color:#0074AD;
}
.sesionCalificar:hover {
    background-color: #FF671B;
}
.sesionCalificar:active {
    background-color: #FF671B;
    border: none;
}
.popupCalificacion .label100 label {
    color: #4d4e50;
    padding: 5px 0 5px;
    font-weight: 600;
    width: 90%;
    float: left;

}
.popupCalificacion label {
    color: #0074AD;
    font-size: 15px;
    font-weight: 600;
}
.popupCalificacion .label100 {
    width: 100%;
    margin-top: 2px;
}
.popupCalificacion .label100 h1 + label,
.popupCalificacion .label100 h2 + label {
    padding-top: 0;
    border: none;
}
.popupCalificacion .label100 input,
.popupCalificacion .label100 select,
.popupCalificacion .label100 textarea {
    border-bottom: 1px solid;
    border-radius: 3px;
    padding: 10px;
    resize: none;
    background-color: #FFF;
    margin: 11px 0 0;
}
.popupCalificacion .label100 textarea {
    height: 80px;
    width: 90%;
    color: #00acc4;
    border: 1px solid;
}
.popupCalificacion .label100 input[type="checkbox"],
.popupCalificacion .label100 input[type="radio"] {
    display: none;
}
.popupCalificacion .label100 input[type="checkbox"] + label,
.popupCalificacion .label100 input[type="radio"] + label {
    color: #00acc4;
    border: 1px solid;
    margin: 0 0 10px;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
}
.popupCalificacion .label100 input[type="checkbox"] + label:hover,
.popupCalificacion .label100 input[type="radio"] + label:hover {
    background: #f7fbfb;
}
.popupCalificacion .label100 input[type="checkbox"] + label:before,
.popupCalificacion .label100 input[type="radio"] + label:before {
    text-align: center;
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #00acc4;
    border-radius: 2px;
    margin: -5px 10px -5px 0;
    font-family: 'dripicons-v2';
    overflow: hidden;
    line-height: 18px;
    color: #fff;
    content: "\53";
    background: #fff;
}
.popupCalificacion .label100 input[type="checkbox"] + label:before,
.popupCalificacion .label100 input[type="radio"] + label:before {
    text-align: center;
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #00acc4;
    border-radius: 2px;
    margin: -5px 10px -5px 0;
    font-family: 'dripicons-v2';
    overflow: hidden;
    line-height: 18px;
    color: #fff;
    content: "\53";
    background: #fff;
}
.popupCalificacion .label100 input[type="checkbox"] + label:before,
.popupCalificacion .label100 input[type="radio"] + label:before {
    display: none;
}
.popupCalificacion small {
    text-align: left;
    color: #4d4e50;
}
.popupCalificacion fieldset {
    text-align: left;
    display: block;
    float: left;
}
.popupCalificacion h3 {
    color: #0074AD;
    font-weight: 400;
    width: 470px;
    font-size: 19px;
    text-align: center;
    max-width: 100%;
}
.popupCalificacion .label100 input[type="checkbox"]:checked + label,
.popupCalificacion .label100 input[type="radio"]:checked + label {
    background: #c9e2e2;
}
.popupCalificacion .label100 input[type="checkbox"]:checked + label:before,
.popupCalificacion .label100 input[type="radio"]:checked + label:before {
    background: #00acc4;
}
.popupCalificacion input[type=submit],
.popupCalificacion input[type=button],
.popupCalificacion button {
    margin: 0px 0px 20px 0px;
    background: #00BCF1;
    border: none;
    text-align: center;
    font-weight: 400;
    height: 45px;
    color: #fff !important;
    border-radius: 2px;
    box-shadow: inset rgba(0, 0, 0, .3) 0 0 0 1px;
    width: 96%;
}
.popupCalificacion .radio input[type=radio] {
   color: #0074AD;
}
.popupCalificacion .radio input[type=radio] + label {
    color: #0074AD;
    font-size: 15px;
    padding-left: 10px;
    font-weight: 600;
}
.popupCalificacion .radio input[type=radio] + label:first-child {
    color: #0074AD;
    font-size: 15px;
    padding-left: 10px;
}
.popupCalificacion h4 {
    color: #0074AD;
    width: 470px;
    max-width: 100%;
    margin:0px;
}

.calificacion input,
.calificacion select,
.calificacion textarea {
    border-bottom: 1px solid;
    border-radius: 3px;
    padding: 10px;
    resize: none;
    background-color: #F4F4F4;
    margin: 0 0 20px;
}
.calificacion textarea {
    height: 120px;
}
.calificacion input[type="checkbox"],
.calificacion input[type="radio"] {
    display: none;
}
.calificacion input[type="checkbox"] + label,
.calificacion input[type="radio"] + label {
    color: #00acc4;
    border: 1px solid;
    margin: 5px 0 10px;
    padding: 4px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
}
.calificacion input[type="checkbox"] + label:hover,
.calificacion input[type="radio"] + label:hover {
    background: #f7fbfb;
}
.calificacion input[type="checkbox"] + label:before,
.calificacion input[type="radio"] + label:before {
    text-align: center;
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #00acc4;
    border-radius: 2px;
    margin: -5px 10px -5px 0;
    font-family: 'dripicons-v2';
    overflow: hidden;
    line-height: 18px;
    color: #fff;
    content: "\53";
    background: #fff;
}
.calificacion input[type="checkbox"] + label:before,
.calificacion input[type="radio"] + label:before {
    text-align: center;
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #00acc4;
    border-radius: 2px;
    margin: -5px 10px -5px 0;
    font-family: 'dripicons-v2';
    overflow: hidden;
    line-height: 18px;
    color: #fff;
    content: "\53";
    background: #fff;
}
.calificacion input[type="checkbox"] + label:before,
.calificacion input[type="radio"] + label:before {
    display: none;
}
.calificacion .labelWCheck label {
    text-align: center;
    width: 5%;
    display: inline-block;
}
.calificacion small {
    text-align: left;
    color: #4d4e50;
}
.calificacion fieldset {
    text-align: left;
    width: 100%;
}
.calificacion input[type="checkbox"]:checked + label,
.calificacion input[type="radio"]:checked + label {
    background: #c9e2e2;
}
.calificacion input[type="radio"]:checked + label:before {
    background: #00acc4;
}

.titleForm{
    color: #4d4e50;
    padding: 5px 0 5px;
    font-weight: 600;
    width: 90%;
    display: block;
}
.rating {
    border: none !important;
    position: relative !important;
    float: left;
    padding-top: 0px !important;
}
.rating > input[type="radio"] {
    display: none !important;
}
.rating > label:before {
    margin: 5px !important;
    font-size: 1.4em !important;
    font-family: FontAwesome !important;
    display: inline-block !important;
    content: "\f005" !important;
}
.rating .half:before {
    content: "\f089" !important;
    position: absolute !important;
}
.rating > label {
    color: #ddd !important;
    float: right !important;
}
/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input[type="radio"]:checked ~ label,
/* show gold star when clicked */

.rating:not(:checked) > label:hover,
/* hover current star */

.rating:not(:checked) > label:hover ~ label {
    color: #FFD700 !important;
}
/* hover previous stars in list */

.rating > input[type="radio"]:checked + label:hover,
/* hover current star when changing rating */

.rating > input[type="radio"]:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
/* lighten current selection */

.rating > input[type="radio"]:checked ~ label:hover ~ label {
    color: #FFED85;
}
.popupSede {
    position: fixed;
    text-align: left;
    overflow: auto;
    max-height: 95%;
    background: #fff;
    cursor: pointer;
    white-space: normal;
    border-radius: 5px;
    width: 430px;
    max-width: 93%;
    height: auto;
    z-index: 40;
    padding-bottom: 30px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%); 
    z-index: 45;
    display: none;
}
.popupSede input[type=submit], .popupSede input[type=button], .popupSede button {
    margin: 0px 0px 20px 0px;
    background: #00BCF1;
    border: none;
    text-align: center;
    font-weight: 400;
    height: 45px;
    color: #fff !important;
    border-radius: 2px;
    box-shadow: inset rgba(0, 0, 0, .3) 0 0 0 1px;
    width: 100%;
}
.contentSede {
    width: 80%;
    margin: 20px auto;
}
#overlaySede{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    z-index: 41;
    display: none;
}
.popupSede label, .popupSede select, .popupSede input {
    display: block;
}
.popupSede #closeBtn {
    top: 10px;
    position: relative;
    right: 10px;
    font-size: 21px;
}

.popupSede button,
.popupSede select {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
    color: #00acc4;
    font-size: 16px;
}

.popupSede select {
    height: 45px;
}
.popupSede label {
    color: #4d4e50;
    padding: 20px 0 5px;
    font-weight: 600;
}
.popupSede select:focus {
    background: #f7fbfb;
    outline: none;
    padding: 0 10px;
    border-radius: 2px;
}
.popupReportes {
    position: fixed;
    text-align: left;
    overflow: auto;
    max-height: 95%;
    background: white;
    cursor: pointer;
    white-space: normal;
    border-radius: 5px;
    width: 880px;
    max-width: 93%;
    height: auto;
    z-index: 40;
    padding-bottom: 30px;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-box-shadow: -2px 3px 68px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 3px 68px -8px rgba(0,0,0,0.75);
    box-shadow: -2px 3px 68px -8px rgba(0,0,0,0.75);
}

.popupReportes .close-icon {
    font-size: 28px;
    color: #0074AD;
}
.popupReportes #closeBtn {
    position: absolute;
    right: 10px;
    top: 10px;
    text-decoration: none;
}  
.popupReportes  #volverBtn {
    display: none;
    text-decoration: none;
}
.popupReportes  #volverBtn a:hover{
    text-decoration: none;
}
.popupReportes .container{
    padding-right: 75px;
    padding-left: 75px;
    padding-top: 60px;
    height: auto;
    width: 770px;
    max-width: 100%;
} 
.popupReportes h3, .popupReportes p, .popupReportes h2{
    text-align: center;
}  
.popupReportes p{
    padding-bottom: 15px;
    max-width: 100%;
    margin: 0 auto;
    width: 400px;
}  
.popupReportes img{
    width: 70px;
    display: block;
    margin:0 auto;
}
.popupReportes h2{
    color: #0074AD;
    font-weight: 600;
    padding-top: 5px;
} 
.popupReportes h3{
    color: #0074AD;
    padding-bottom: 10px;
    font-weight: 600;
    padding-top: 5px;
}
#popupImportarUsuario .container {
    padding-right: 75px;
    padding-left: 60px;
    padding-top: 60px;
    height: auto;
    width: 580px;
    max-width: 100%;
    margin: 0 auto;
}
#popupImportarUsuario input {
    margin:0 auto;
    display: block;
}
#popupImportarUsuario input {
    margin:0 auto;
    display: block;
}
#popupImportarUsuario .popupReportes {
    width: 720px;
}
#popupImportarUsuario input[type=button] {
    display: inline-block;
    background: #0074AD;
    border: none;
    margin:30px auto 20px;
    text-align: center;
    font-weight: 400;
    height: 30px;
    padding: 5px 22px;
    color: #fff !important;
    border-radius: 2px;
    box-shadow: inset rgba(0, 0, 0, .3) 0 0 0 1px;
}
.borderRight {
    border-right: 1px solid #C3C8CB;
}
.borderLeft {
    border-left: 1px solid #C3C8CB;
}
.borderBottom {
    border-bottom: 1px solid #C3C8CB;
}
.borderTop {
    border-top: 1px solid #C3C8CB;
}
.popupReportes .nav-tabs>li {
    float: none;
    display: inline-block;
    margin-bottom: -1px;
}
.popupReportes .nav-tabs {
    border-bottom: 1px solid #ddd;
    text-align: center;
    margin-top: 40px;
}
.tab-content p{
    font-size: 30px;
    padding: 30px 0px 0px;
    text-align: center;
}
.tab-content span{
    width: 400px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 24px;
    display: block;
    max-width: 100%;
}
.popupReportes .library {
    overflow:auto;
    max-height: 500px;
}
.popupRubros .library {
    overflow:auto;
    max-height: 800px;
}
#popupGenero .popupReportes .container {
    padding-bottom: 50px;
}
#popupGenero .popupReportes .container span {
    background-color: #0074AD;
    margin-bottom: 0px;
    padding-bottom: 9px;
    color: white;
    padding-top: 9px;
    display: block;
    text-align: center;
    font-size: 16px;
}
#popupGenero .popupReportes h2 {
    color: #0074AD;
    padding-bottom: 30px;
    font-weight: 600;
    padding-top: 5px;
}
#popupTerritoriales .popupReportes .nav-tabs {
    border-bottom: 1px solid #ddd;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 9px;
}
#popupTerritoriales .popupReportes .container {
    padding-right: 65px;
    padding-left: 65px;
    padding-top: 60px;
    height: auto;
    width: 890px;
    max-width: 100%;
}
#popupTerritoriales .library th {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    width: 30%;
    border-bottom: 2px solid white;
    vertical-align: bottom;
}
#popupTerritoriales .panel-collapse {
overflow-y: scroll;
height: 300px;
}
#popupTerritoriales .library th a {
    color: #fff;
    font-weight: 600;
}
#popupTerritoriales button, #popupSatisfaccionEmpr button {
    display: block;
    margin: 0 auto;
    color: white;
    background-color: #68D3F2;
    transition:all 0.1s ease-in-out;
}
#popupSatisfaccionEmpr button {
    text-align: right;
    float: right;
    margin-bottom: 5px;
}

#popupTerritoriales button:hover,  #popupSatisfaccionEmpr button:hover {
    background-color: #FF671B;
}
ul.filtros{
    text-align: center;
}
.filtros li {
    display: inline-block;
    margin-bottom: 26px;
    margin-right: 20px;
    margin-top: 15px;
}
.filtros select {
    background: transparent;
    color: black;
    width: 100%;
    margin-left: 10px;
    border: none;
    border-bottom: 2px solid #0074AD;
    display: inline-block;
    padding: 10px;
    outline-style: none;
}
#popupSatisfaccionEmpr .panel{
    padding: 0px;
    border:none;
    color: black;
}
#popupSatisfaccionEmpr .panel strong{
    color: rgba(0, 0, 0, 0.7);
}
#popupSatisfaccionEmpr .panel-heading {
    background: #0074AD;
    color: white;
}
#popupSatisfaccionEmpr .ratingResult .checked {
    color: orange;
}
#popupSatisfaccionEmpr .ratingResult {
    display: inline-block;
    float: right;
}
#popupSatisfaccionEmpr .tab-content span {
    width: 400px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 24px;
    display: inline;
    max-width: 100%;
}
#popupEgresados .popupReportes p, #popupEgresados2 .popupReportes p {
    padding-top: 22px;
}

#popupAtencionParticipante  h3 {
    font-size: 24px;
    padding-bottom: 5px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 30px;
} 
#popupAtencionParticipante  p {
    font-size: 14px;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 10px;
} 
/*************************/
/*** Progress bar home ***/

.feature-panel {
    background: white;
    width: 100%;
    margin: 0.5em 0;
    position: relative;
    z-index: 9;
}
.breadcrumb {
  list-style: none;
  margin: 0;
  padding: 0;
}
.breadcrumb li {
  display: inline;
  position: relative;
}
.breadcrumb li:nth-child(1) {
  z-index: 14;
}
.breadcrumb li:nth-child(2) {
  z-index: 13;
}
.breadcrumb li:nth-child(3) {
  z-index: 12;
}
.breadcrumb li:nth-child(4) {
  z-index: 11;
}
.breadcrumb li:nth-child(5) {
  z-index: 10;
}
.breadcrumb li:nth-child(6) {
  z-index: 9;
}
.breadcrumb li:nth-child(7) {
  z-index: 8;
}
.breadcrumb li:nth-child(8) {
  z-index: 7;
}
.breadcrumb li:nth-child(9) {
  z-index: 6;
}
.breadcrumb li a,
.breadcrumb li span {
  display: inline-block;
  padding: 0.4em 3em 0.1em 3em;
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
  margin-bottom: 0.3em;
}
.breadcrumb li a {
  background: #f1f1f1;
  position: relative;
}
.breadcrumb li a:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  right: -30px;
  border: 15px solid transparent;
  border-left-color: #f1f1f1;
}
.breadcrumb li a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  border: 15px solid transparent;
  border-left-color: white;
}

.breadcrumb li.active a {
  background: #68D3F2;
  position: relative;
  color: white;
}
.breadcrumb li.active a:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  right: -30px;
  border: 15px solid transparent;
  border-left-color: #68D3F2;
}
.breadcrumb li.active a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  border: 15px solid transparent;
  border-left-color: white;
}
.breadcrumb li.next-step a {
  background: #666666;
  position: relative;
}
.breadcrumb li.next-step a:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  right: -30px;
  border: 15px solid transparent;
  border-left-color: #666666;
}
.breadcrumb li.next-step a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  border: 15px solid transparent;
  border-left-color: white;
}

/*************************/
/*** R E P O R T E ***/

.reporte ul.tabs li.current a {
    background-color: #0074AD;
}
.reporte .timeline-item h3 {
    display: inline-block;
    padding-right: 10px;
    font-size: 20px;
}
.reporte .sesionA p {
    font-size: 0.9em;
}
.reporte .sesionA .ratingResult {
    display: inline-block;
    padding-bottom: 15px;
}
.reporte .timeline-item {
    padding: 3.2em 2em 1.5em 2em;
    position: relative;
    color: rgba(0, 0, 0, 0.7);
    width: 100%;
    border-left: 2px solid rgba(0, 0, 0, 0.3);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: rgba(0, 0, 0, .1) 0 15px 5px -10px;
    border-bottom-right-radius: 35px;
    border-top-right-radius: 5px;
    box-shadow: rgba(0, 0, 0, .1) 0 15px 5px -10px;
}
.reporte .verCalificacionBtn {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: auto;
}
.reporte a .verCalificacion {
    border-radius: 5px;
    background-color: rgba(0, 188, 241, 0.5);
    color: white;
    -webkit-transition: .4s;
    transition: .4s;
    padding: 10px 20px;
    border-top-left-radius: 29px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 29px;
    font-weight: 300;
    border:none;
}
.activeBtn {
    background-color: rgba(227, 86, 49, 1);
}
.reporte .timeline-open ul li i {
    color: #FFF;
    font-weight: 700;
    display: inline-block;
    background-color: #00BCF1;
    border-radius: 31px;
    text-align: center;
    padding: 6px;
    font-size: 14px;
}
.reporte .timeline-open h4 {
    display: inline-block;
    margin: 0;
    padding: 0px 10px 0 10px;
}
.reporte .timeline-open .ratingResult {
    display: inline-block;

}
.reporte ul.tab {
    margin-top: 10px;
}
.reporte .timeline-item {
    padding: 3.2em 2em 1.5em 1.5em;
    position: relative;
    width: 99%;
}
.reporte .filtrarReporte {
    background-color: #FF671B;
    color: white;
    font-size: 14px;
    padding: 11px 24px;
    width: 160px;
    border-radius: 5px;
    display: none;
    margin:0 auto;
    text-align: center;
}
.reporte .filtrarReporte i {
    position: relative;
    top: 2px;
    right: -3px;
}
.reporte .filtrarReporte:hover {
    opacity: 0.8;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
button.descargarFotos i{
padding-right:10px;
}
button.descargarFotos {
    background: #FC7642;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    margin: 20px 0px 40px;
    float: right;
}
/* C H A R T  */

.charts{
    margin-top: -10px;
    padding: 10px 13px;
}

.charts h3 {
    font-weight: bold;
    top: 0.6em;
    display: block;
    font-weight: 700;
    font-size: 1.2rem;
    color: #0074AD;
}
.charts ul li:first-child{
    color: #0074AD
}

/*************************/

/*  ESTADISTICAS  */

#estadisticas {
    background-color: rgba(0,0,0,0.04);
    padding-top: 13px;
}
#estadisticas h2 {
    display: block;
    font-weight: 700;
    font-size: 1.2rem;
    color: #0074AD;
}


.panel {
    background: #fff;
    display: block;
    text-align: center;
    padding: 10px;
    border-radius: 2px;
    -webkit-box-shadow: 0 3px 0 rgba(0,0,0,.05);
    box-shadow: 0 3px 0 rgba(0,0,0,.05);
    overflow: hidden;
    position: relative;
    text-align: left;
}

body.suscripcion .panel {
    margin-top: 40px;
    text-align: center;
    padding: 20px 40px;
}

body.suscripcion .panel svg {
    margin: 0 auto;
    width: 150px;
    height: auto;
    fill: none;
    stroke: #15bdae;
    stroke-width: 1;
    stroke-miterlimit: 10;
}

.panel img {
    max-width: 100%;
}

span.desc {
    display: block;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 400;
}

.panel span.desc {
    color: rgba(0, 0, 0, 0.9);
    margin: 10px 0;
}

.panel h4 {
    font-weight: 400;
    font-size: 16px;
    margin: 0 !important;
}

a.panel:hover h4 {
    color:  #0074AD;
}
ul.estadisticas {
    width: 97%;
    margin: 0 auto;
}

ul.estadisticas li {
    float: left;
    width: 12.5%;
    padding: 10px;
}

ul.estadisticas-big li {
    width: 25%;
}

ul.estadisticas .panel {
    text-align: center;
    height: 160px;
}

ul.estadisticas .panel:before {
    color: #0074AD;
    display: block;
    padding: 15px 0 10px;
    font-size: 22px;
}

ul.estadisticas .panel:after {
    content: '';
    background: #0074AD;
    position: absolute;
    top: 7px;
    left: 10px;
    right: 10px;
    height: 3px;
    border-radius: 10px;
}

.ocultar-estadisticas {
    float: right;
    margin: 16px 0 0;
    color: #0074AD;
    display:none;
    background: #fff;
    border-radius: 2px;
    padding: 3px 10px 5px;
    text-transform: uppercase;
    font-size: 12px;
    -webkit-box-shadow: rgba(0,0,0,.05) 0 3px 0;
    box-shadow: rgba(0,0,0,.05) 0 3px 0;
}

.mostrar-filtros {
    margin: 0 10px 10px;
    display: none;
}

.ocultar-estadisticas:hover {
    background:  #0074AD;
}

.ocultar-estadisticas:hover, .ocultar-estadisticas:hover span, .ocultar-estadisticas:hover:before {
    color: #fff;
}

.ocultar-estadisticas:before {
    margin: 0 10px 0 0;
    position: relative;
    top: 3px;
    font-size: 16px;
}

/*
ul.estadisticas .panel:hover:before {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

ul.estadisticas .panel:hover strong, ul.estadisticas .panel:hover .desc {
    -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
    transform: translateY(5px);
}

ul.estadisticas .panel:hover strong, ul.estadisticas .panel:hover strong span {
    color: #825ee7;
}
*/
.panel strong {color: #0074AD;}
.panel-violeta strong {color: #0074AD;}
.panel-verde strong {color: #00BCF1;}
.panel-azul strong {color: #0074AD;}
.panel-rojo strong {color: #FC7642;}


ul.estadisticas .panel-violeta:before {color:  #0074AD;}
ul.estadisticas .panel-verde:before {color: #00BCF1;}
ul.estadisticas .panel-azul:before {color: #0074AD;}
ul.estadisticas .panel-rojo:before {color: #FC7642;}

ul.estadisticas .panel-violeta:after {background:  #0074AD; color:#0074AD;}
ul.estadisticas .panel-verde:after {background: #00BCF1; color:#00BCF1;}
ul.estadisticas .panel-azul:after {background: #0074AD; color:#0074AD;}
ul.estadisticas .panel-rojo:after {background:#FC7642; color:#FC7642}

ul.estadisticas .panel strong {
    display: block;
    font-weight: 500;
    font-size: 28px;
    color:rgba(0, 0, 0, 0.7);
}

ul.estadisticas .panel span.desc {
    height: 2em;
}

ul.estadisticas-small {
    margin-bottom: 0;
}

ul.estadisticas-small .panel {
    text-align: left;
    padding: 5px 10px 5px 25px;
}

ul.estadisticas-small .panel:before {
    position: absolute;
    left: 0;
    margin: 0;
    padding: 4px 0 0 24px;
    font-size: 18px;
    height: 100%;
}

ul.estadisticas-small .panel:after {
    width: 3px;
    top: 10px;
    bottom: 10px;
    left: 10px;
    height: calc(100% - 20px);
}

ul.estadisticas-small .panel strong {
    font-size: 22px;
    padding-left: 25px;
}

ul.estadisticas-small .panel span.desc {
    margin: 5px 0;
    line-height: 1em;
}

/*
ul.estadisticas-small .panel:hover strong, ul.estadisticas-small .panel:hover .desc {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
}

ul.estadisticas-small .panel:hover:before {
    width: 70px;
    padding-left: 35px;
    -webkit-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}
*/

ul.estadisticas-usuarios {
    margin-bottom: 20px;
}

ul.estadisticas-usuarios li {
    width: 25%;
}

ul.estadisticas-usuarios .panel {
    padding: 15px 20px 0 25px;
}

ul.estadisticas-usuarios a.panel {
    background: #15bdae;
    color: #fff;
    padding: 26.5px 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
}

ul.estadisticas-usuarios a.panel:hover {
    background: #44cabe;
}

ul.estadisticas-usuarios .panel strong {
    display: inline-block;
}

ul.estadisticas-2 li {
    width: 50% !important;
}

ul.estadisticas-2 .panel strong {
    font-size: 24px;
}

ul.estadisticas-2 .panel span.desc {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}
ul.estadisticas-2 li {
    width: 50% !important;
}

ul.estadisticas-2 .panel strong {
    font-size: 24px;
}

ul.estadisticas-2 .panel span.desc {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

ul.referencias {
    float: right;
    margin: 17px 25px;
}

ul.referencias-left {
    float: left;
}

ul.referencias li {
    float: left;
    color: #663bb6;
    margin: 0 0 0 20px;
    position: relative;
    padding: 0 0 0 10px;
    font-size: 11px;
    color: #2f2844;
    font-weight: 300;
    text-transform: uppercase;
}

ul.referencias-left li {
    margin: 0 20px 0 0;
}

ul.referencias li:before {
    content: '';
    position: absolute;
    width: 3px;
    height: 14px;
    left: 0;
    top: 0;
    border-radius: 2px;
    background: #0074AD;
    display: inline-block;
    float: left;
}

ul.referencias .ref-verde:before {background: #00BCF1;}
ul.referencias .ref-rojo:before {background: #FF671B;}
ul.referencias .ref-azul:before {background: #0074AD;}

ul.deadlines {
    margin: 10px -20px 30px;
}

ul.deadlines li {
    float: left;
    width: 25%;
    padding: 0 20px 3px;
}

ul.deadlines .panel {
    padding-left: 55px;
}

ul.deadlines .panel:after {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    width: 0;
    background: #0074AD;
    height: calc(100% - 20px);
    border-radius: 5px;
}

ul.deadlines .panel-verde:after {background: #00BCF1;}
ul.deadlines .panel-rojo:after {background: #de555b;}
ul.deadlines .panel-amarillo:after {background: #fecb00;}

ul.deadlines .panel:hover:after {
    width: 3px;
}

ul.deadlines .panel:first-child {
    margin: 10px 0 20px;
}

ul.deadlines .panel.tiene-adjunto {
    padding-right: 30px;
}

ul.deadlines .fecha {
    position: absolute;
    width: 55px;
    height: 100%;
    padding: 10px 0;
    left: 0;
    top: -10px;
    text-transform: uppercase;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    color: #0074AD;
    border-radius: 0 50% 50% 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

ul.deadlines .panel-verde .fecha {color: #00BCF1;}
ul.deadlines .panel-amarillo .fecha {color: #fecb00;}
ul.deadlines .panel-rojo .fecha {color: #de555b;}

ul.deadlines .panel:hover .desc, ul.deadlines .panel:hover h4, ul.deadlines .panel:hover .fecha {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
}

.listChart1,
.listChart2 {
    display: none;
}
#filtros {
    margin-bottom: 30px;
}
#filtros input, #filtros select, #filtros option, #filtros button, #filtros .selectize-input {
    height: 35px;
    -webkit-box-shadow: 0 2px 0 #0074AD;
    box-shadow: 0 2px 0 #0074AD;
    display: inline-block;
    width: 100%;
    margin: 0;
    border: none;
    background: transparent;
    font-size: 15px;
    padding-left: 10px;
}
#filtros-opciones ul {
    float: left;
    margin: 0 -10px;
}
#filtros-opciones ul li {
    float: left;
    width: 22%;
    padding: 10px;
}
#filtros ul li {
    float: left;
    width: 18%;
    padding: 10px;
}
#filtros .selectize-input {
    margin-left: 0;
}

#filtros .selectize-dropdown {
    margin-top: -20px;
}

#filtros button {
    width: 100%;
    font-size: 14px;
    position: relative;
}

#filtros input {
    float: left;
    margin: 0;
    width: 240px;
}

.filtros-reset {
    border: none;
    background: #fff;
    display: block;
    width: 100%;
    text-align: left;
    font-size: 15px;
    color: #FF671B;
    font-weight: 300;
    margin: 5px 0;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 0 #FF671B !important;
    box-shadow: 0 2px 0 #FF671B !important;
    position: relative;
}

.filtros-reset:before {
    position: relative;
    top: 2px;
    margin-right: 5px;
}

.filtros-reset:hover {
    background: #FF671B!important;
    color: #fff;
}
#filtros-opciones {
    padding:20px 20px;
}
.ocultar-estadisticas {
    margin-left: 15px;
    width: 100%;
    margin-top: 20px;
    display: none;
    width: 89%;
    font-size: 15px;
    background-color: #00BCF1;
    color: white;
    text-align: center;
    padding: 10px;
    float: left;
    position: relative;
}


/*************************/

/* REFERENCIAS  */
#referencias h1 {
    color:#00BCF1;
}
#referencias h3 {
    margin-top: 0px;
}
#referencias {
    max-width: 900px;
    padding-left: 15px;
}
.volver i{
    position: relative;
    top: 3px;
}
.volver {
    color: #FC7642;
}
/*************************/

/* LOGROS  */

.logros ul.tabs li.current a {
    background-color: #FFC121;
    color: white;
}
.logros .trophy img {
    display: block;
    margin: 0 auto;
    padding-top: 40px;
}
.logros .trophy .overlayAward {
    background-color: rgba(0, 0, 0, 0.3);
    height: 300px;
}
.logros .library td {
    background: #0094D4;
    color: #fff;
    text-align: center;
    width: 49%;
    display: inline-table;
    padding: 40px 20px 15px 20px;
}
.logros .library td .progress-bar {
    margin: 20px auto;
    height: 24px;
    width: 80%;
}
.logros .library td .progress-bar span {
    top: 5px;
}
.logros .library table td {
    display: table-cell;
    vertical-align: top;
    min-height: 30px;
    border-radius: 19px;
}
.logros .library table td div {
    height: 100%;
}
.logros .tdLogros {
    border: 3px solid white;
}
.logros .tdLogros h2 {
    font-weight: 600;
}
.logros .locked {
    opacity: 0.6;
}
.logros .library tr {
    background: #fff !important;
    margin: 0 0 20px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 5px;
    overflow: hidden;
}
/*************************/
/** P R O G R A M A **/

.programa .timeline-item {
    padding: 3.4em 2em 2.4em;
}
.programa .timeline-item img {
    padding-left: 35px;
    padding-bottom: 14px;
    padding-top: 10px;
}
.images img {
    display: inline-block;
    width: 50px;
}
.programa .sesionA .timeline-item h3 {
    display: block;
}
.programa .sesionB .timeline-item h3 {
    display: block;
}
/*************************/


/* Mi perfil  */

.header-perfil h1, .header-perfil h3 {
    display: inline-block;
    color: #1D71AB;
    margin-bottom: 0px;
}
.header-perfil h3 {
    margin-top: 5px;
}
.ultima-actividad h3{
    margin-top: 0px;
}
.datos-personales {
    color: rgba(0, 0, 0, 0.7);
}
.datos-personales p {
    padding-left: 10px;
}
.perfil .editar-email, .perfil .editar-contraseña, .perfil .ultima-actividad{
    display: inline-block;
    background-color: #F6F6F6;
    padding: 0px 10px;
    width: 94%;
    margin-left: 10px;
}
.perfil .datos-personales li {
    display: inline-block;
    width: 32%;
}
.editar-contraseña i, .editar-contraseña p  {
    display: inline-block;
}
.editar-contraseña i {
    position: relative;
    top: 17px;
    color: #1D71AB;
    font-size: 19px;
    right: 12px;
}
.editar-contraseña i:hover {
    color: #FF671B;
}
.pull-right{
    float: right;
}
.title {
    color:#1D71AB;
}
.perfil .cambiar-contraseña {
    display: block;
    text-align: right;
    color: #1D71AB;
    padding-right: 23px;
    padding-top: 7px;
    font-size: 13px;
}
.ver-certificado {
    height: 40px;
    width: 97%;
    padding:5px;
    background-color: #FF671B;
    color: white;
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
}
.ver-certificado:hover {
    background-color: #e85e19;
}
.ver-certificado a{
    color:white;
    text-decoration: none;
}
.ver-certificado i{
    text-align: center;
    font-size: 25px;
    color: white;
    padding-right: 5px;
    top: 8px;
    position: relative;
    display: inline-block;
}

/*************************/
.ultimas-novedades li {
    padding: 15px 0 15px 40px;
    position: relative;
    border-top: 1px solid #ccc;
}
.ultimas-novedades li:last-child {
    padding-bottom: 0;
}
.ultimas-novedades h6 {
    position: absolute;
    top: 0;
    left: 0;
    color: #0096c6;
    font-size: 12px;
    line-height: 1.2em;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0 0;
}
.ultimas-novedades h6 strong {
    display: block;
    font-size: 20px;
}
.ultimas-novedades h4 {
    margin: 0;
    font-size: 16px;
    text-transform: uppercase;
}
.ultimas-novedades p {
    font-size: 16px;
    margin: 5px 0 10px;
    line-height: 1.2em;
}
.ultimas-novedades a {
    float: right;
    padding: 2px 12px;
    color: #65c5e8;
    border-radius: 3px;
    box-shadow: 0 0 0 1px #65c5e8 inset;
    font-size: 16px;
    font-weight: 300;
    position: relative;
    overflow: hidden;
}
.ultimas-novedades a:hover {
    background: #65c5e8;
    color: #fff;
}
.progress-bar {
    background: rgba(0, 0, 0, .3);
    height: 15px;
    display: block;
    position: relative;
    border-radius: 10px;
    margin: 10px 0 0;
}
.progress-completed {
    background: #30B460;
    height: 100%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.progress-completed:before {
    content: '';
    background: url('../img/progress-pattern.png');
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: .7;
    -webkit-animation: bg-scroll .7s linear infinite;
    -o-animation: bg-scroll .7s linear infinite;
    animation: bg-scroll .7s linear infinite;
}
.progress-bar span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    text-align: center;
    color: #fff;
    font-size: 15px;
    line-height: 14px;
    text-shadow: rgba(0, 0, 0, .5) 0 0 5px;
}
@-webkit-keyframes bg-scroll {
    0% {
        background-position: 0 0;
    }
    0% {
        background-position: -7px 0;
    }
}
@-o-keyframes bg-scroll {
    0% {
        background-position: 0 0;
    }
    0% {
        background-position: -7px 0;
    }
}
@keyframes bg-scroll {
    0% {
        background-position: 0 0;
    }
    0% {
        background-position: -7px 0;
    }
}
.progress-finalizadas,
.progress-restantes {
    font-size: 16px;
    font-style: italic;
    float: left;
    margin: 5px 0;
}
.progress-restantes {
    float: right;
}
.score-progress {
    background: #5472a9;
    margin: 20px -20px 20px;
    padding: 20px 20px 0;
    text-align: center;
}
.module .user {
    float: left;
}
.module .user h4 {
    display: inline-block;
    margin: 0;
    font-size: 20px;
}
.score-progress-bar {
    background: #65c5e8;
    height: 10px;
    display: block;
    position: relative;
    border-radius: 10px;
    margin: 60px 38px 50px;
}
.score-progress-completed {
    background: #f26935;
    height: 100%;
    border-radius: 10px;
}
.score-icon {
    font-size: 40px;
    position: absolute;
    top: 50%;
    height: 76px;
    width: 76px;
    margin: -38px 0 0 -38px;
    background: #65c5e8;
    border-radius: 50%;
    line-height: 85px;
}
.score-icon-reached {
    background: #f26935;
}
.score-icon-1 {
    left: 0;
}
.score-icon-2 {
    left: 33.33%;
}
.score-icon-3 {
    left: 66.66%;
}
.score-icon-4 {
    left: 100%;
}
.score-points {
    background: #f26935;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 50px;
    margin: 0 auto -25px;
    position: relative;
    top: 15px;
}
.score-points strong {
    font-size: 28px;
    position: relative;
    top: 2px;
}
.ripple-effect {
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: #fff;
    animation: ripple-animation 2s;
}
nav a .ripple-effect {
    background: rgba(255, 255, 255, .3);
}
@keyframes ripple-animation {
    from {
        transform: scale(1);
        opacity: 0.4;
    }
    to {
        transform: scale(100);
        opacity: 0;
    }
}
ul.cursos > li,
ul.modulos > li {
    width: 25%;
    float: left;
    padding: 0 20px;
    list-style: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
}
ul.cursos > li .module,
ul.modulos > li .module {
    background: url(../img/curso-bg.jpg) center center no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom: 80px;
}
ul.cursos > li .module:before,
ul.modulos > li .module:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, .6) 90%)
}
ul.cursos > li .module:after,
ul.modulos > li .module:after {
    position: absolute;
    content: '';
    top: 0;
    right: 20px;
    left: 20px;
    height: 5px;
    border-radius: 0 0 5px 5px;
    background: #65c5e8;
}
ul.cursos > li h2,
ul.modulos > li h2 {
    text-transform: uppercase;
    font-size: 20px;
    margin: 10px 0;
    position: relative;
}
ul.cursos > li h2:after,
ul.modulos > li h2:after {
    content: '';
    width: 100px;
    height: 2px;
    margin: 10px auto 0;
    display: block;
    background: #65c5e8;
}
ul.cursos p,
ul.modulos p {
    color: #0096c6;
    font-size: 16px;
    position: relative;
    margin: 20px 0;
    line-height: 1.2em;
}
ul.cursos li .curso-footer,
ul.modulos li .curso-footer {
    width: 100%;
    background: #0096c6;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 20px;
    text-align: left;
    box-sizing: border-box;
}
.curso-footer span {
    color: #fff;
    font-size: 16px;
    padding: 2px 0 0;
    position: relative;
    top: 2px;
}
.curso-footer span:before {
    font-size: 12px;
}
.curso-footer a {
    float: right;
    background: #f26935;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 3px 10px;
    border-radius: 50px;
}
.curso-header {
    background: #00BCF1 center -400px fixed no-repeat;
    background-size: cover;
    color: #fff;
    padding: 0 0 80px;
    position: relative;
    overflow: hidden;
}
.curso-header .wrapper {
    padding-top: 20px;
}
.curso-header:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .8));
}
.curso-header h1 {
    font-size: 32px;
    text-transform: uppercase;
}
.curso-header h1:after {
    content: '';
    display: block;
    width: 100px;
    height: 2px;
    margin: 20px 0 0;
    background: #fff;
}
.curso-header p {
    font-size: 18px;
    margin: 20px 0 0;
}
.curso-header + .wrapper {
    padding-top: 0;
    margin: -40px 0 0;
}
ul.cursos > li.curso-featured,
ul.modulos > li.curso-featured {
    width: 50%;
}
ul.cursos > li.curso-featured .module,
ul.modulos > li.curso-featured .module {
    background: #0096c6 url(../img/leccion-header-bg.jpg) center center no-repeat;
    background-size: cover;
    padding-bottom: 0;
}
ul.cursos > li.curso-featured .module:before,
ul.modulos > li.curso-featured .module:before {
    display: none;
}
ul.cursos > li.curso-featured .module:after,
ul.modulos > li.curso-featured .module:after {
    background: #f26935;
}
ul.cursos > li.curso-featured h2,
ul.modulos > li.curso-featured h2 {
    font-size: 32px;
    color: #fff;
    margin: 20px 0;
}
ul.cursos > li.curso-featured h2:after,
ul.modulos > li.curso-featured h2:after {
    background: #fff;
    margin: 20px auto 0;
}
ul.cursos > li.curso-featured p,
ul.modulos > li.curso-featured p {
    color: #fff;
    font-size: 20px;
    margin: 20px;
}
ul.cursos > li.curso-featured .curso-footer,
ul.modulos > li.curso-featured .curso-footer {
    position: relative;
    margin: 50px -20px;
    display: block;
    width: calc(100% + 40px);
    padding: 32px 0 0;
    text-align: center;
}
ul.cursos > li.curso-featured .curso-footer .curso-status,
ul.modulos > li.curso-featured .curso-footer .curso-status {
    display: block;
    float: none;
    margin: 0;
}
ul.cursos > li.curso-featured .curso-footer .curso-status li:before,
ul.modulos > li.curso-featured .curso-footer .curso-status li:before {
    color: #fff;
}
ul.cursos > li.curso-featured .curso-footer a,
ul.modulos > li.curso-featured .curso-footer a {
    display: inline-block;
    float: none;
    margin: 40px auto -40px;
    padding: 10px 40px;
    font-size: 22px;
}
.lecciones ul {
    margin: 20px -20px -20px;
    overflow: hidden;
}
.lecciones ul a {
    display: block;
    padding: 15px 20px 15px 50px;
    overflow: hidden;
    position: relative;
}
.lecciones ul li:last-child a {
    border-radius: 0 0 5px 5px;
}
.lecciones ul li a:before {
    font-size: 20px;
    position: absolute;
    top: 50%;
    margin: -10px 0 0;
    left: 15px;
}
.lecciones ul li.locked a {
    color: #f26935;
}
.lecciones ul li.unlocked a {
    color: #65c5e8;
}
.lecciones ul li:nth-child(odd) a {
    background: #eaf6f9;
}
.lecciones ul a h4 {
    margin: 0;
    color: #0096c6;
    font-size: 18px;
}
.lecciones ul li.completed a h4 {
    text-decoration: line-through;
}
.lecciones ul a span {
    font-size: 16px;
    margin: 0 5px 0 0;
}
.lecciones ul a span:before {
    margin: 0 3px 0 0;
    position: relative;
    top: 1px;
    font-size: 14px;
}
.lecciones ul li a:hover {
    background: #d1ebf3 !important;
}
.lecciones ul li.current a {
    background: #0096c6 !important;
    color: #fff;
}
.lecciones ul li.current a h4 {
    color: #fff;
}
.curso-status {
    margin: 40px 0 0;
}
.curso-status li {
    float: left;
    text-align: center;
    width: 25%;
}
.curso-status li:before,
.curso-status span,
.curso-status em {
    display: block;
}
.curso-status li:before {
    color: #f26935;
}
.curso-status li:before,
.curso-status span {
    font-size: 32px;
}
.curso-status span {
    font-weight: 700;
}
.curso-status em {
    line-height: 1em;
}
.library-filters {
    display: block;
    position: relative;
    margin: 0 -5px 0 0;
}
.library-filters li:before {
    margin: 0 10px 0 0;
}
.library-filters li {
    width: 16%;
    float: left;
    text-align: center;
    box-sizing: border-box;
    padding: 5px;
    font-weight: 700;
    font-size: 16px;
    color: #0096c6;
}
.library-filters .pad25top {
    padding-top: 25px;
}
.library-filters a {
    display: block;
    border-radius: 3px;
    font-weight: 400;
    font-size: 14px;
    color: #0096c6;
    border: 1px solid #0096c6;
    height: 58px;
    padding-top: 10px;
    box-sizing: border-box;
}
.library-filters a:hover {
    background: #0096c6;
    color: #fff;
}
.library-filters .current a {
    background: #0096c6;
    color: #fff;
}
.library {
    padding: 0;
}
.library:before {
    display: none;
}
.library table {
    width: 100%;
    text-align: left;
}
.library tbody tr:nth-child(even) {
    background: #eee;
}
.library thead tr {
    background: #0096c6;
    border-radius: 5px 5px 0 0;
}
.library tbody tr:last-child {
    border-radius: 0 0 5px 5px;
}
.library td,
.library th {
    padding: 15px 10px;
    width: auto;
    font-size: 16px;
    text-align: center;
}
.library th {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    font-weight: normal;
    text-align: center;
    vertical-align: bottom;
}
.library th:before {
    position: relative;
    top: 3px;
}
.library td a {
    color: inherit;
}
.library td a:hover {
    text-decoration: underline;
}
.library td:first-child a {
    color: #0096c6;
    font-weight: 700;
    text-decoration: underline;
}
.library td:first-child a:hover {
    color: #5472a9;
}
.check-asistencia {
    width: 18px;
    height: 18px;
}
.library .progress-bar {
    min-width: 100px;
}
.library td:last-child a {
    background: #f26935;
    color: #fff;
    font-weight: 700;
    display: block;
    border-radius: 50px;
    text-align: center;
    text-transform: uppercase;
    margin: -5px 0;
    padding: 5px 0;
}
.library td:last-child a:hover {
    background: #f22065;
    text-decoration: none;
}
.library .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.library .switch input {
    display: none;
}
.library .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.library .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #FF671B;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.library input[type=submit],
.library input[type=button],
.library button {
    margin: 30px 0;
    background: #0074AD;
    border: none;
    text-align: center;
    font-weight: 400;
    height: 45px;
    padding: 5px 22px;
    color: #fff !important;
    border-radius: 2px;
    box-shadow: inset rgba(0, 0, 0, .3) 0 0 0 1px;
}
/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
.soporte label,
.soporte input,
.soporte textarea,
.soporte button {
    display: block;
    width: 100%;
    box-sizing: border-box;
    color: #666;
}
.soporte {
    border-top: 1px solid #ccc
}
.soporte label {
    font-weight: 700;
    font-size: 18px;
    margin: 20px 0 5px;
    color: #0096c6;
}
.soporte input,
.soporte textarea,
.soporte input,
.soporte button {
    height: 45px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #999;
}
.soporte textarea {
    height: 200px;
    resize: none;
}
.soporte input[type=submit],
.soporte input[type=button],
.soporte button {
    text-align: center;
    margin: 20px 0 0;
    background: #f26935;
    border: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff !important;
}
.soporte input[type=submit]:hover,
.soporte input[type=button]:hover,
.soporte button:hover {
    background: #f22065;
}
.sesiones {
    display: block;
}
.sesiones > li {
    float: left;
    width: 50%;
    position: relative;
}
.sesiones > li > a {
    display: block;
    margin: 5px;
    background: #ccc;
    border-radius: 2px;
    overflow: hidden;
    display: block;
    background-position: center center;
    background-size: cover;
    position: relative;
    height: 200px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: rgba(0, 0, 0, .1) 0 15px 5px -10px;
    box-shadow: rgba(0, 0, 0, .1) 0 15px 5px -10px;
}
.sesiones > li > a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(111, 194, 210, .6);
}
.sesion-contenido {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .7));
    background: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .7));
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .7));
}
.sesion-data {
    position: relative;
    color: #fff;
    font-size: 16px;
    text-shadow: rgba(0, 0, 0, .3) 0 1px 0;
    text-align: center;
}
.sesion-fecha {
    background: #f1f9f8;
    color: #f26935;
    border-top: 1px solid #fff;
    margin: 10px 0 0;
}
.sesion-fecha h4 {
    padding: 10px 0;
    margin: 0;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
}
.sesion-fecha h4:before {
    margin: 0 10px 0 0;
    position: relative;
    top: 1.5px;
}
.fa-star:before {
    content: "\f005";
    font-size: 17px;
}
.show {
    display: block;
}
.linksHome{
    color: white;
    font-size: 17px;
    padding-left: 20px;
    font-weight: 600;
    margin-top: 80px;

}
.linksHome a li {
    line-height: 2.2em; 
    color: white;
}
.linksHome a li:hover {
    color: #FF671B;
}
.visibleSm{
    display:none !important;
}
.visibleDesktop {
    display: inline-block !important;
}
.visibleXs {
    display:none !important;
}
.visibleSmInline {
    display:none !important;
}
.reunion .timeline-item {
    padding: 3.5em 0 0;
}
.reunion .timeline-item::before {
    left: 20px;
}
.reunion .timeline-item .sesionCalificar {
    border-radius: 5px;
    background-color: rgba(0, 188, 241, 0.5);
    color: white;
    -webkit-transition: .4s;
    transition: .4s;
    padding: 5px 20px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-weight: 300;
    border: none;
}
.reunion .library td:last-child a {
    background: transparent;
    color: transparent;
    font-weight: 700;
    display: block;
    border-radius: 50px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}
.reunion .library td a {
    color: inherit;
}
.reunion .calificarBtn {
    position: inherit;
    bottom: 0px;
    right: 0px;
    height: auto;
}
.reunion .library input[type=submit], .reunion .library input[type=button],.reunion  .library button {
    margin:0;
    background: transparent;
    border: none;
    text-align: center;
    font-weight: 400;
    height: auto;
    padding:0;
    color: #fff !important;
    border-radius: 0;
    box-shadow: none;
}
.modal { font-family: 'Roboto', 'Helvetica', sans-serif;}
.modal p {font-family: 'Roboto', 'Helvetica', sans-serif;}
.modal p:first-child {margin-top: 0;}
.bootbox-body {
    color: #666;
    font-size: 16px;
}
.bootbox-body a {
    color: #FF671B;
    text-decoration: underline;
}
.bootbox-body a:hover {
    text-decoration: underline !important;
}
.bootbox-body .button {
    text-transform: capitalize;
}

/* MEDIA QUERIES */

@media (max-width: 1600px) {
    ul.estadisticas li {
        width: 16.66%;
    }
    ul.estadisticas-usuarios li {
        width: 25%;
    }
    ul.deadlines li, ul.solicitudes > li {
        width: 33.33%;
    }
    ul.estadisticas-big li {
        width: 25%;
    }
    .wrapper {
        padding: 30px 15px 0;
    }
    .col20,
    .col25,
    .col33,
    .col50,
    .col66,
    .col75,
    .col100 {
        padding: 0 0px;
    }
    .module {
        margin: 0 0 30px;
    }
    .col25 {
        width: 33.33%;
    }
    .col75 {
        width: 66.67%;
    }
    .reporte .module {
        margin: 0 0 15px;
    }

}
@media (max-width: 1500px) {
    ul.estadisticas li {
        width: 20%;
    }
    ul.estadisticas-big li {
        width: 33.33%;
    }
    .curso-header {
        background-position: center center;
    }
    .curso-header:after {
        left: 30px;
        width: calc(100% - 60px);
    }
    .curso-header .curso-status {
        float: none;
    }
    .curso-header .curso-status li {
        margin: 0;
        width: 25%;
    }
    ul.cursos > li.curso-featured .curso-footer .curso-status,
    ul.modulos > li.curso-featured .curso-footer .curso-status {
        margin-top: -40px;
    }
    ul.cursos > li.curso-featured .curso-footer .curso-status li,
    ul.modulos > li.curso-featured .curso-footer .curso-status li {
        width: 50%;
        margin: 40px 0 0;
    }
    .search-bar .col50 {
        width: 100%;
    }
    .breadcrumb li a{
      padding: 0.4em 2em 0.1em 2em;
    }
    .breadcrumb.sesion3 li a{
      padding: 0.4em 5em 0.1em 5em;
    }
}
@media (max-width: 1400px) {
     ul.deadlines li, ul.solicitudes li, ul.estadisticas-usuarios li, #perfil .col66, #perfil .col33 {
        width: 50%;
    }
    .curso-header .col50 {
        width: 100%;
    }
    ul.cursos > li,
    ul.modulos > li {
        width: 50%;
    }
    .filtros-buscar, #filtros .filtros-buscar input {
        width: 100%;
        display: block;
        float: none;
        margin-bottom: 10px;
    }
    #filtros ul {
        display: block;
        float: none;
    }
    #filtros ul li {
        width: 46%;
    }
    .ocultar-estadisticas {
        display: block;
    }
    #filtros-opciones {
        display: none;
    }

}
@media(max-width: 1300px) {
    ul.deadlines li, ul.solicitudes li, ul.estadisticas-usuarios li, #perfil .col66, #perfil .col33 {
        width: 50%;
    }
    #perfil .col66 .col50 {
        width: 100%;
    }
    .breadcrumb.sesiones6 li a{
      padding: 0.4em 1em 0.1em 1em;
    }
    .breadcrumb.sesiones9 li a{
      padding: 0.4em 1em 0.1em 2em;
    }
    .breadcrumb.sesion3 li a{
      padding: 0.4em 3em 0.1em 3em;
    }
}
@media (min-width: 992px){
    .container {
        width: 970px;
        max-width: 100%;
    }
}
@media (min-width: 1200px){
    .container {
        width: 100%;
    }
}
@media(max-width: 1200px) {
    ul.estadisticas li {
        width: 25%;
    }
    ul.estadisticas-usuarios li, ul.estadisticas-big li, .col25, .col20 {
        width: 50%;
    }
 }       
@media (max-width: 1024px) {
    .content > .wrapper > .col50 {
        width: 100%;
    }
    .noti-top {
        width: 75px;
    }
    .noti-top a {
        font-size: 28px;
        padding: 15px 0 0;
    }
    .noti-count {
        right: 10px;
    }
    .user-top {
        position: static;
    }
    .user-top h4,
    .user-top .dropdown:after {
        display: none;
    }
    .user-top .user-pic {
        margin: 0;
    }
    .user-top > a {
        padding: 15px;
    }
    .user-top ul {
        position: absolute;
        top: 65px;
        right: 0;
        width: 170px;
        border-radius: 0 0 0 5px;
    }
    .content {
        padding-left: 0;
    }
    header {
        padding-left: 0;
        box-shadow: rgba(0, 0, 0, .3) 0 0 20px;
    }
    aside {
        -webkit-transform: translateX(-260px);
        -ms-transform: translateX(-260px);
        -o-transform: translateX(-260px);
        transform: translateX(-260px);
        padding: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    aside.aside-expanded {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
        -webkit-box-shadow: rgba(0, 0, 0, .1) 0 0 30px;
        box-shadow: rgba(0, 0, 0, .1) 0 0 30px;
        padding-top: 11px;
    }
    aside .logo,
    .breadcrumbs {
        display: none;
    }
    aside nav {
        margin: 0;
    }
    aside nav a {
        height: 60px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        line-height: 40px;
    }
    .logo-mobile {
        float: left;
        display: inline-block;
        margin: 10px 0;
        width: 49%;
    }
    .logo-mobile img {
        width: 198px;
        margin-top: 1px;
    }
    .burger {
        display: block;
        float: left;
        margin: 16px 13px 0 20px;
        color: white;
        font-size: 22px;
        padding: 4px 0 0;
        cursor: pointer;
    }
    .icon-cross {
        display: block;
        float: left;
        margin: 16px 13px 0 20px;
        color: white;
        font-size: 22px;
        padding: 4px 0 0;
        cursor: pointer;
        display: none;
        position: absolute;
        z-index: 179;
    }
    .content-curso .col75,
    .content-curso .col25 {
        width: 100%;
    }
    .module.library {
        background: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .library thead {
        display: none;
    }
    .library tr,
    .library td {
        display: block;
        text-align: right;
    }
    .library td,
    .library td a {
        font-weight: 700;
    }
    .library tr {
        background: #fff !important;
        margin: 0 0 20px;
        -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, .1);
        box-shadow: 0 5px 5px rgba(0, 0, 0, .1);
        border-radius: 5px;
        overflow: hidden;
    }
    .library td {
        padding: 15px 20px;
    }
    .library td:before {
        content: attr(data-label);
        float: left;
        font-weight: 400;
    }
    .library td:nth-child(odd) {
        background: #eee;
    }
    .library td:first-child {
        background: #0096c6;
        color: #fff;
    }
    .library td:first-child a {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        font-size: 16px;
    }
    .library td:nth-child(5):before {
        display: block;
        float: none;
        text-align: left;
    }
    #popupAtencionParticipante .library td:nth-child(5):before {
        display: block;
        float:left;
        text-align: left;
    }
    .library td .progress-bar span {
        margin-top: 2px;
    }
    .library td:last-child a {
        margin: -15px -20px;
        padding: 15px;
        border-radius: 0;
    }
    .popupReportes .library td, .library td a {
    font-weight: 400;
    }
    .popupReportes .library td:first-child {
        background: #0096c6;
        color: #fff;
        padding: 7px 21px;
    }
    .popupReportes .library td {
        padding: 4px 27px;
        border-bottom: 1px solid #dbdbdb;
    }
    .popupReportes .library tr {
        background: #fff !important;
        margin: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
         border-radius: 0px;
        overflow: hidden;
    }
    .popupReportes .library td:first-child a {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        font-size: 15px;
    }
    .popupReportes {
        position: fixed;
        text-align: left;
        max-height: 100%;
        background: #fff;
        cursor: pointer;
        white-space: normal;
        border-radius: 0px;
        width: 100%;
        max-width: 100%;
        height: 100%;
        z-index: 40;
        padding-bottom: 0px;
        top: 0px;
        left: 0px;
        transform: translateX(0%);
    }
    #closeBtn {
        display: none;
        text-decoration: none;
    }
    .popupReportes #volverBtn {
        display: block;
        position: absolute;
        left: 50px;
        top: 80px;
        z-index: 50;
    }
    .popupReportes #volverBtn i{
        color: #C3C8CB;
        font-size: 36px;
    }
    #popupTerritoriales .library th {
        text-align: left;
        width: 100%;
    }
    #popupTerritoriales .popupReportes .library tr {
        background: #0096c6 !important;
    }
    #popupTerritoriales .popupReportes .library thead {
        display: block;
    }
    #popupTerritoriales .popupReportes .library td:first-child {
        background: #68D3F2;
        color: white;
    }
    #popupTerritoriales .popupReportes .library td {
        padding: 4px 27px;
        border-bottom: 1px solid #dbdbdb;
        background-color: white;
    }
    #popupTerritoriales .popupReportes .filtros select {
        content:"";
        content: attr(data-filtro);
    }
    #popupTerritoriales .popupReportes .container {
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 60px;
    }

}
@media (max-width: 800px) {
    header {
        height: 60px;
    }
    .wrapper {
        padding: 20px 0 0;
    }
    .col20,
    .col25,
    .col33,
    .col50,
    .col66,
    .col75,
    .col100 {
        padding: 10px 10px;
    }
    .module {
        margin: 0 0 20px;
    }
    .search-bar .col75 {
        width: 100%;
    }
    .search-bar .col25,
    .user-top {
        display: none;
    }
    .score-icon {
        font-size: 28px;
        height: 50px;
        width: 50px;
        margin: -25px 0 0 -25px;
        line-height: 56px;
    }
    .module-title,
    .module-buttons {
        display: block;
        float: none;
        width: 100%;
        position: relative;
    }
    .module-buttons a,
    .module-buttons span {
        width: calc(50% - 10px);
        margin: 0 0 20px;
    }
    .module-buttons a.lightblue-button {
        display: block;
        width: 100%;
        margin: 0 0 20px;
    }
    .module-buttons a.button:first-child,
    .module-buttons span:first-child {
        margin-left: 0;
    }
    .curso-header:after {
        left: 20px;
        width: calc(100% - 40px);
    }
    ul.cursos > li.curso-featured,
    ul.modulos > li.curso-featured {
        width: 100%;
    }
    ul.cursos > li.curso-featured .curso-footer .curso-status,
    ul.modulos > li.curso-featured .curso-footer .curso-status {
        margin-top: 0;
    }
    ul.cursos > li.curso-featured .curso-footer .curso-status li,
    ul.modulos > li.curso-featured .curso-footer .curso-status li {
        width: 25%;
        margin: 0;
    }
    .curso-status li:before,
    .curso-status span {
        font-size: 28px;
    }
    .noti-top a {
        width: auto;
        height: 60px;
        color: #6ec2d2;
    }
    ul.tabs a {
        font-size: 16px;
        background: rgba(255, 255, 255, .75);
    }
    .library input[type=submit], .library input[type=button], .library button {
        margin: 6px 0;
        background: #0074AD;
        border: none;
        text-align: center;
        font-weight: 400;
        height: 45px;
        width: 100%;
        padding: 5px 22px;
        color: #fff !important;
        border-radius: 2px;
        box-shadow: inset rgba(0, 0, 0, .3) 0 0 0 1px;
    }
    .progress .bar {
        width: 56px;
    }
    .col100 {
        padding: 0 5px;
    }
    .perfil .editar-email, .perfil .editar-contraseña,  .perfil .ultima-actividad {
        width: 97%;
        margin-bottom: 10px;
        margin-left: 0px;
    }
    .perfil .datos-personales li {
        display: block;
        width: 97%;
    }
    .home-desktop {
        display: none;
    }
    .home-visible-sm {
          display: block;
    }
    #popupSatisfaccionEmpr .ratingResult {
        float: none;
        display: block;
        text-align: center;
        padding-top: 10px;
    }

}
@media (max-width: 640px) {
    .curso-header .curso-status {
        margin: 0;
    }
    .curso-header .curso-status li {
        width: 50%;
        margin: 40px 0 0;
    }
    ul.cursos > li.curso-featured .curso-footer .curso-status,
    ul.modulos > li.curso-featured .curso-footer .curso-status {
        margin-top: -40px;
    }
    ul.cursos > li.curso-featured .curso-footer .curso-status li,
    ul.modulos > li.curso-featured .curso-footer .curso-status li {
        width: 50%;
        margin: 40px 0 0;
    }
    ul.cursos > li,
    ul.modulos > li {
        width: 100%;
    }

    .library-filters li:first-child {
        width: 100%;
    }
    .library-filters li {
        width: 50%;
    }
    .logros .library td {
        display: block !important;
        width: auto;
    }
    .programa .timeline-item h3 {
        text-align: center;
    }
    .visibleMobile {
        display: block !important;
    }
    #filtros ul li {
        width: 100%;
        display: block;
        margin: 0 auto;
    }
    .reporte .filtrarReporte {
        display: block;
    }

    ul.referencias li {
        float: none; 
        color: #663bb6;
        margin: 0 0 0 5px;
        position: relative;
        padding: 0 0 0 10px;
        font-size: 11px;
        color: #2f2844;
        font-weight: 300;
        text-transform: uppercase;
        text-align: center;
        display: inline-block;
    }
    ul.referencias {
        float: none;
        text-align: center;
    }
    .progress .bar {
        width: 20px;
    }
    .pad10 {
        padding: 0px 10px;
    }
    .reporte .content-timeline {
        width: 100%;
    }
    .timeline-item h3 {
        margin: 15px 0px 15px 0;
        display: block;
    }
    .visibleDesktop {
        display: none !important;
    }
    .visibleSm {
        display:block !important;
    }
    .visibleSmInline {
        display:inline-block !important;
    }
    .breadcrumb li a, .breadcrumb li span {
        padding: 0.4em 0.8em 0.em 1em;
    }

    button.descargarFotos {
        display: block;
        margin: 20px auto 40px;
        float: none;
    }
    .reporte .refes {
        text-decoration: underline;
        color: #FC7642;
        float: none;
        padding-left: 15px;
        padding-top: 15px;
        font-size: 15px;
        font-weight: 600;
        margin: 0 auto;
        display: blocj;
        display: block;
        text-align: center;
    }
    .popupReportes #volverBtn {
        left: 30px;
        top: 30px;
        z-index: 50;
    }
    .popupReportes .container {
        padding-right: 45px;
        padding-left: 45px;
        position: relative;
        max-width: 100%;
    }
}
@media (max-width: 450px) {
    .aside {
        z-index: 9;
    }
    .label50 label {
        width: 100%;
        display: block;
    }
    .label25 label {
        width: 33%;
    }
    .label33 label {
        width: 49%;
    }
    .label20 label {
        width: 24%;
    }
    #popupCalificacion {
        width: 100vw;
        height: 100vh;
        top: 0px;
        left: 0px;
    }
    .popupCalificacion {
        padding: 25px 20px 5px 4px;
        top: 0px;
        border-radius: 0px;
        height: auto;
    }
    .reporte .timeline-item {
        padding: 3.2em 2em 3em 2em;
    }
    .popupCalificacion {
        padding-left: 15px;
    }
    .programa .timeline-item img {
        display: block;
        margin: 0 auto;
        padding-left: 0px;
    }
    .programa .timeline-item .images {
        text-align: center;
    }
    .programa .timeline-item .images img {
        display: inline-block;
    }
    #filtros ul li {
        width: 100%;
        display: block;
        margin: 0 auto;
    }
    #filtros input, #filtros select, #filtros option, #filtros button, #filtros .selectize-input {
        height: 35px;
        -webkit-box-shadow: 0 2px 0 #0074AD;
        box-shadow: 0 2px 0 #0074AD;
        display: inline-block;
        width: 96%;
        float: left;
        margin: 0 0 0px;
        border: none;
    }
    ul.tabs li.current a {
        background: #FF671B;
        font-weight: 500;
        margin: 0;
        padding: 15px 0;
    }
    .progress {
      width: 100%;
      margin: 0px auto;
      text-align: center;
    }
    .progress .circle {
      width: 20px; height: 20px;
    }
    .progress .circle .label {
        display: inline-block;
        width: 22px;
        height: 22px;
        line-height: 22px;
        border-radius: 32px;
        margin-top: -1px;
        color: #b5b5ba;
        font-size: 17px;
    }
    .progress .bar {
        top: -29px;
        margin-left: -3px;
    }
    .progress .circle .title {
      color: #b5b5ba;
      font-size: 13px;
      line-height: 30px;
      margin-left: -5px;
      font-size: 17px;
    }
    .progress .circle .title strong{
        position: relative;
        top: 10px;
    }
    .visibleXs {
        display:block !important;
    }
    .breadcrumb.sesion3 li a {
        padding: 0.4em 1em 0.1em 2em;
    }

    .popupReportes .container {
        padding-right: 5px;
        padding-left: 5px;
        position: relative;
        top: 60px;
    }
    #popupTerritoriales .popupReportes .filtros li, #popupSatisfaccionEmpr .popupReportes .filtros li {
        margin:5px auto;
        width: 90%;
    }
    #popupTerritoriales .popupReportes .filtros li:last-child, #popupSatisfaccionEmpr .popupReportes .filtros li:last-child {
        margin-bottom: 20px;
    }

}
@media (max-width: 380px) {
    .reporte .timeline-item {
        padding: 3.2em 1em 2em 1em;
    }
    .reporte .timeline-open .ratingResult {
        display: block;
    }
    .reporte .timeline-open h4 {
        padding: 15px 0px;
    }
    .nav>li>a {
        position: relative;
        display: block;
        padding: 10px 1px;
    }
}