<div class="quiz quiz--post-video" id="js-quiz">
    <div class="quiz__container quiz__container--post-video js-quiz-container">
        <div class="quiz__questions" id="js-quiz-questions">
            <div class="quizArea">
                <div class="quizHeader">
                    <div class="quiz__tips js-quiz-tips">
                        <div class="quiz__tip quiz__tip--one">
                            <i></i>
                            <p>Contestá correctamente el siguiente cuestionario para pasar al próximo video.</p>
                        </div>
                        <div class="quiz__tip quiz__tip--two">
                            <i></i>
                            <p>Contás con 70 segundos para responder unas preguntas sobre el video que acabás de ver.</p>
                        </div>
                        <div class="quiz__tip quiz__tip--three">
                            <i></i>
                            <p>En caso de equivocarte en alguna pregunta, vas a tener que ver el video nuevamente.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="quizResults">
                <div class="quiz__results">
                    <p class="quiz__results-copy js-quiz-results-copy"></p>
                    <a href="" class="quiz__btn quiz__btn--main js-quiz-results-btn"></a>
                </div>
                
            </div>
        </div>

        <div class="quiz__buttons js-quiz-buttons">
            <button class="quiz__btn quiz__btn--alt js-quiz-repeat"><i class="repeat"></i>Volver a ver el video</button>
            <button class="quiz__btn quiz__btn--main startQuiz">¡Estoy listo!</button>
        </div>
    </div>
    <div class="quiz-timer js-quiz-timer">
        <div class="quiz-timer__remaining">47s</div>
    </div>
</div>